{% extends 'admin/main.html' %}

{% block page_title %}

{% endblock page_title %}

{% block main_content %}

{% load static %}

    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <h1 >Системд Хэрэглэгч нэмэх</h1>
                </li>

            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-user"></i>
        Хэрэглэгчийн мэдээллийг оруулах
                </div>
                <div class="card-body">
                  <form class="form-horizontal" action="{% url 'create_user' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="first_name" placeholder="First Name" id="inputFirst" required="">
                                    <label for="inputFirst">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="last_name" placeholder="Last Name" id="inputLast" required="">
                                    <label for="inputLast">Last Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="username" placeholder="Username" id="inputdescription" required="">
                                    <label for="inputdescription">Username</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="tel" name="email" placeholder="Email" id="inputMobile" required="">
                                    <label for="inputMobile">Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                               <div class="form-label-group">
                                    <input type="text" class="form-control" name="password" placeholder="Password" id="inputdescription" required="">
                                    <label for="inputdescription">Password</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                           <select class="w3-select w3-border" name="userType">
                                        <option value="{{ choice.2 }}">Choose User Role</option>
                                        
                                        <option value="{{ choice.2 }}"> Author</option>
                                        <option value="{{ choice.3 }}"> Editor</option>
                                        <option value="{{ choice.4 }}"> Reviewer</option>

                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Submit &nbsp;&nbsp;&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>




  {% endblock main_content %}
