{% extends 'admin/main.html' %}

{% block page_title %}

{% endblock page_title %}

{% block main_content %}

{% load static %}

<div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3">
      <div class="col-12 mb-3">
          <div id="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">User : {{ object.username }} </a>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <h1>
                <i class="fas fa-user text-warning"></i>
              Хэрэглэгчийн мэдээлэл</h1>
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

<div class="row">
    <div class="col-12">
        <form method="post" style="background-color: black">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" {% if request.path == '/new' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/>
            <a href=""><button type="button" class="btn btn-secondary">Back</button></a>
        </form>
    </div>
</div>


      </div>
    </div>
  </div>
</div>



      {% endblock main_content %}
