<footer class="main-footer">
      <strong>ЗАВХАН АЙМАГ ИХ УУЛ СУМ {% now "Y" %}</strong> 
      ДИПЛОМНЫ АЖИЛ
      <div class="float-right d-none d-sm-inline-block">
        <b>GANKHUU</b> 22
      </div>
    </footer>