{% extends "main/base.html" %}
{% block content %}
{% load static %}
	<div class="row">
		<div class="col-md-4">
			<div class="card card-body">
				<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
				<hr>
				<h3 style="text-align: center">Account Settings</h3>
				<hr>
				<img class="profile-pic" src="{{request.user.author.profile_image.url}}" >

			
			</div>
		</div>
		<div class="col-md-8">
			<div class="card card-body">
				
				<form method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}	
					{{u_form.as_p}}
					{{p_form.as_p}}
		
					
				<button class="btn btn-success" type="submit" name="Update Information">Хадаглах</button>
				</form>
			</div>
		</div>
	</div>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
{% endblock %}