{% load static%}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>LOGIN</title>
  </head>
  <body>
    
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
      <div class="card card0 border-0">
          <div class="row d-flex">
              <div class="col-lg-6">
                  <div class="card1 pb-5">
                      <div class="row"> <img src="{% static 'images/logo.png' %}" class="logo"> </div>
                      <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="{% static 'images/garaaugaa.jpg' %}" class="image"> </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card2 card border-0 px-4 py-5">
                      <div class="row mb-4 px-3">
                          <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                          <div class="facebook text-center mr-3">
                              <div class="fa fa-facebook"></div>
                          </div>
                          <div class="twitter text-center mr-3">
                              <div class="fa fa-twitter"></div>
                          </div>
                          <div class="linkedin text-center mr-3">
                              <div class="fa fa-linkedin"></div>
                          </div>
                      </div>
  
                      <div class="row px-3 mb-4">
                          <div class="line"></div> <small class="or text-center">Or</small>
                          <div class="line"></div>
                      </div>

      <form action="" method="POST">
        {% csrf_token %}
          <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Username</h6>
        </label> <input class="mb-4" type="text" name="username" placeholder="username"> 
      </div>
                  <div class="row px-3"> <label class="mb-1">
                    <h6 class="mb-0 text-sm">Password</h6>
                </label> <input type="password" name="password" placeholder="Enter password"> 
              </div>
            <div class="row px-3 mb-4">
                <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Сануулах</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Нууц үгээ мартсан уу?</a>
            </div>
            <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Нэвтрэх</button> </div>
            <div class="row mb-4 px-3"> <small class="font-weight-bold">Танд бүртгэл байхгүй бол? <a class="text-danger " href="{% url 'register' %}">Бүртгүүлэх</a></small> </div>
            <div class="row mb-3 px-3"> <button type="submit" class="btn btn-secondary  text-center">Үндсэн хуудас</button> </div>
            {% comment %} <div class="col-12 text-center">
              <a href="">Reset Password</a>
            </div>  {% endcomment %}
  
            {% comment %} Display Messages {% endcomment %}
            {% if messages %}
            <div class="col-12">
              {% for message in messages %}
                {% if message.tags == "error" %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            {% endif %}
  
            <!-- /.col -->
          </div>
        </form>
                      


                  </div>
              </div>
          </div>
      
      </div>
    </div>
  
  </body>
  </html>
  
  <style>
    body {
      color: #000;
      overflow-x: hidden;
      height: 80%;
      width: 85%;
     margin-left: 200px;
      background-color: #dde0e0;
      background-repeat: no-repeat
  }
  
  .card0 {
      box-shadow: 0px 4px 8px 0px #757575;
      border-radius: 0px
  }
  
  .card2 {
      margin: 0px 40px
  }
  
  .logo {
      width: 100px;
      height: 30px;
      margin-top: 20px;
      margin-left: 35px
  }
  
  .image {
      width: 80%;
      height: 80%
  }
  
  .border-line {
      border-right: 1px solid #EEEEEE
  }
  
  .facebook {
      background-color: #3b5998;
      color: #fff;
      font-size: 18px;
      padding-top: 5px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      cursor: pointer
  }
  
  .twitter {
      background-color: #1DA1F2;
      color: #fff;
      font-size: 18px;
      padding-top: 5px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      cursor: pointer
  }
  
  .linkedin {
      background-color: #2867B2;
      color: #fff;
      font-size: 18px;
      padding-top: 5px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      cursor: pointer
  }
  
  .line {
      height: 1px;
      width: 45%;
      background-color: #E0E0E0;
      margin-top: 10px
  }
  
  .or {
      width: 10%;
      font-weight: bold
  }
  
  .text-sm {
      font-size: 14px !important
  }
  
  ::placeholder {
      color: #BDBDBD;
      opacity: 1;
      font-weight: 300
  }
  
  :-ms-input-placeholder {
      color: #BDBDBD;
      font-weight: 300
  }
  
  ::-ms-input-placeholder {
      color: #BDBDBD;
      font-weight: 300
  }
  
  input,
  textarea {
      padding: 10px 12px 10px 12px;
      border: 1px solid lightgrey;
      border-radius: 2px;
      margin-bottom: 5px;
      margin-top: 2px;
      width: 100%;
      box-sizing: border-box;
      color: #2C3E50;
      font-size: 14px;
      letter-spacing: 1px
  }
  
  input:focus,
  textarea:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #304FFE;
      outline-width: 0
  }
  
  button:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline-width: 0
  }
  
  a {
      color: inherit;
      cursor: pointer
  }
  
  .btn-blue {
      background-color: #1A237E;
      width: 150px;
      color: #fff;
      border-radius: 2px
  }
  
  .btn-blue:hover {
      background-color: #000;
      cursor: pointer
  }
  
  .bg-blue {
      color: #fff;
      background-color: #1A237E
  }
  
  @media screen and (max-width: 991px) {
      .logo {
          margin-left: 0px
      }
  
      .image {
          width: 300px;
          height: 220px
      }
  
      .border-line {
          border-right: none
      }
  
      .card2 {
          border-top: 1px solid #EEEEEE !important;
          margin: 0px 15px
      }
  }
  </style>
