{% extends 'users/base.html' %}
{% load static %} 

{% block content %}

    <body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <img src="{% static 'images/logo.png' %}" style="height: 35px;" alt="welcome Image">
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Бүртгүүлэх</p>

      <form action="" method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        {{form.username}}
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
        </div>
        
        {{form.email}}
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        {{form.password1}}
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        {{form.password2}}
    </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Бүртгүүлэх</button>
          </div>

          {% comment %} <div class="col-12 text-center">
            <a href="">Reset Password</a>
          </div>  {% endcomment %}

          {% comment %} Display Messages {% endcomment %}
          {% if messages %}
          <div class="col-12">
            {% for message in messages %}
              {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}

          <!-- /.col -->
        </div>
      </form>
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
        </div>
    </div>


  </div>
</div>
<!-- /.login-box -->

{% endblock %}