/*
 @Author: Amento Tech
 @URL: https://themeforest.net/user/amentotech/portfolio
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 01.	Theme Reset Style
 02.	Global Elements
 03.	Menu
 04.	Social
 05.	Article
 06.	Posts
 07.	Responsive
 08.	Widgets
 09.	Flexslider
 10.	Grid
*/
/* =============================================
			Theme Reset Style					
============================================= */
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Quicksand:300,400,500,700);
* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #636c77;
	background: #fff url(../images/bodybg-01.png);
	font:400 14px/23px 'Quicksand', Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	color: #636c77;
	margin: 0 0 8px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	text-transform:capitalize;
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
h1 { font-size: 48px;}
h2 { font-size: 36px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #636c77;}
p a,
p a:hover { text-decoration:underline; }
p {
	margin: 0 0 20px;
	line-height: 23px;
	letter-spacing: normal;
}
a { text-decoration: none; }
a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
}
ul { margin: 0; }
figure {
	margin-bottom: 6px;
	position: relative;
}
img {
	height: auto;
	max-width: 100%;
}
strong { color: #414141; }
iframe {
	width: 100%;
	float: left;
	border: none;
}
.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor {}
.wp-caption.alignleft,
.wp-caption.alignnone { width: 100%; }
button { border: none; }
textarea,
select,
.sj-select select,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #636c77;
	outline: none;
	height: 42px;
	background:#fff;
	font-size: 14px;
	-webkit-box-shadow: none;
			box-shadow: none;
	line-height: 18px;
	padding: 10px 20px;
	border-radius: 6px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
	text-transform: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea.form-control{
	resize: none;
	height: 210px;
}
.form-control::-webkit-input-placeholder { color: #636c77; } /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #636c77; } /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #636c77; } /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #636c77; } /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color:#636c77; } /* Microsoft Edge */
input:focus,
.select select:focus,
.form-control:focus {
	color: #636c77;
	border-color: #636c77;
	-webkit-box-shadow:none !important;
			box-shadow:none !important;
}
.form-group {
	width: 100%;
	float: left;
	margin:0 0 20px;
}
label {
	color: #666;
	display: block;
	font-weight: 400;
	margin-bottom: 10px;
}
form p {
	float: left;
	position: relative;
	width: 100%;
}
form p span i {
	top: 13px;
	left: 16px;
	color: #474747;
	position: absolute;
}
option { padding: 5px 15px; }
li {
	line-height: 28px;
	list-style: disc inside none;
}
ul ul { margin-left: 20px; }
ol {
	float: none;
	list-style: decimal;
	padding-left: 15px;
}
ol ol { margin-left: 20px; }
ol li {
	list-style: decimal;
	width: 100%;
}
table {
	background-color: transparent;
	max-width: 100%;
}
th { text-align: left; }
table {
	width: 100%;
	margin-bottom: 15px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border-top: 1px solid #dbdbdb;
	border: 1px solid #dbdbdb;
	line-height: 2.5;
	padding-left: 3px;
	text-align: center;
	vertical-align: top;
}
table thead tr th {
	border-top: 1px solid #dbdbdb;
	text-align: center;
	text-transform: capitalize;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td { border-top: 1px solid #dbdbdb; }
table > thead > tr > th {
	border-bottom: 2px solid #dbdbdb;
	vertical-align: bottom;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td { border-bottom: 0; }
table > tbody + tbody { border-top: 2px solid #dbdbdb; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td { padding: 6px 10px; }
p ins { color: #666; }
dl dd { margin-left: 20px; }
address { font-style: italic; }
/* =============================================
			Theme Custom Select					
============================================= */
.sj-select {
	color:#666;
	float:left;
	width: 100%;
	position: relative;
	text-transform:uppercase;
}
.sj-select:after {
	top: 0;
	right: 15px;
	z-index: 2;
	color: #666;
	display: block;
	content: '\e874';
	position: absolute;
	text-align: center;
	font-size: inherit;
	line-height: 40px;
	font-family: 'Linearicons-Free';
}
.sj-select select {
	z-index: 1;
	width: 100%;
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.sj-select select option { color:#666; }
/* =============================================
		Theme Custom CheckBox Radio				
============================================= */
.sj-radio,
.sj-radio label,
.sj-checkbox,
.sj-checkbox label {
	margin:0;
	width: 100%;
	float: left;
	position: relative;
}
.sj-radio label,
.sj-checkbox label {
	cursor:pointer;
	display:block;
	padding:0 0 0 20px;
}
.sj-radio input[type=radio],
.sj-checkbox input[type=checkbox] { display:none; }
.sj-radio input[type=radio] + label:before,
.sj-checkbox input[type=checkbox] + label:before {
	top: 4px;
	left: 0;
	color: #373542;
	font-size: 14px;
	line-height: 14px;
	content: '\f096';
	position: absolute;
	font-family: 'FontAwesome';
}
.sj-radio input[type=radio] + label:before {
	color:#ddd;
	content:'\f111';
	font-family:'Font Awesome 5 Free';
}
.sj-radio input[type=radio]:checked + label:before,
.sj-checkbox input[type=checkbox]:checked + label:before {content:'\f046';}
.sj-radio input[type=radio]+ label:hover:before,
.sj-radio input[type=radio]:checked + label:before{content:'\f192';}
/* =============================================
			Theme Global Elements				
============================================= */
.sj-haslayout {
	width:100%;
	float:left;
}
.sj-sectionspace {padding:80px 0;}
.sj-locationmap {
	width: 100%;
	float: left;
	height: 500px;
}
.sj-btn-sm {
	padding: 0 20px;
	line-height: 30px;
}
.sj-btn{
	z-index: 3;
	color: #fff;
	padding: 0 25px;
	position:relative;
	text-align:center;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	text-transform: capitalize;
	font:500 14px/44px 'Quicksand', Arial, Helvetica, sans-serif;
}
.sj-btn:before{
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background:#636c77;
	position: absolute;
}
.sj-btn:hover,
.sj-btn:focus{color:#fff;}
.sj-btn-lg { width: 100%;}
.sj-socialicons {
	overflow: hidden;
	list-style: none;
	text-align:center;
	line-height: 34px;
}
.sj-socialicons li {
	float: left;
	padding: 0 4px;
	line-height: inherit;
	list-style-type: none;
}
.sj-socialicons li a {
	width: 34px;
	height: 34px;
	color: #fff;
	display:block;
	background:#000;
	overflow:hidden;
	font-size: 13px;
	line-height: 34px;
	position:relative;
	text-align: center;
	border-radius: 34px;
	text-transform:capitalize;
}
.sj-inputwithicon.sj-facebook .sj-icon,
.sj-checkbox.sj-facebook,
li.sj-facebook a { background:#3b5999; }
.sj-inputwithicon.sj-twitter .sj-icon,
.sj-checkbox.sj-twitter,
li.sj-twitter a { background:#55acee; }
.sj-inputwithicon.sj-linkedin .sj-icon,
.sj-checkbox.sj-linkedin,
li.sj-linkedin a { background:#0077B5; }
.sj-inputwithicon.sj-skype .sj-icon,
.sj-checkbox.sj-skype,
li.sj-skype a { background:#00aff0; }
.sj-checkbox.sj-dropbox,
li.sj-dropbox a { background:#007ee5; }
.sj-checkbox.sj-vimeo,
li.sj-vimeo a { background:#1ab7ea; }
.sj-checkbox.sj-tumblr,
li.sj-tumblr a { background:#34465d; }
.sj-checkbox.sj-yahoo,
li.sj-yahoo a { background:#410093; }
.sj-inputwithicon.sj-googleplus .sj-icon,
.sj-checkbox.sj-googleplus,
li.sj-googleplus a { background:#dd4b39; }
.sj-inputwithicon.sj-pinterestp .sj-icon,
.sj-checkbox.sj-pinterestp,
li.sj-pinterestp a { background:#bd081c; }
.sj-checkbox.sj-youtube,
li.sj-youtube a { background:#cd201f; }
.sj-checkbox.sj-stumbleupon,
li.sj-stumbleupon a { background:#eb4924; }
.sj-checkbox.sj-reddit,
li.sj-reddit a { background:#ff5700; }
.sj-checkbox.sj-quora,
li.sj-quora a { background:#b92b27; }
.sj-checkbox.sj-yelp,
li.sj-yelp a { background:#af0606; }
.sj-checkbox.sj-soundcloud,
li.sj-soundcloud a { background:#ff3300; }
.sj-checkbox.sj-whatsapp,
li.sj-whatsapp a { background:#25d366; }
.sj-checkbox.sj-wechat,
li.sj-wechat a { background:#09b83e; }
.sj-checkbox.sj-instagram,
li.sj-instagram a { background:#e4405f; }
.sj-checkbox.sj-dribbble,
li.sj-dribbble a { background:#ea4c89; }
.sj-checkbox.sj-flickr,
li.sj-flickr a { background:#ff0084; }
.sj-checkbox.sj-rss,
li.sj-rss a { background:#ff6600; }
.sj-socialiconsborder li.sj-facebook a {
	color: #3b5999;
	border: 1px solid #3b5999;
}
.sj-socialiconsborder li.sj-twitter a {
	color: #55acee;
	border: 1px solid #55acee;
}
.sj-socialiconsborder li.sj-linkedin a {
	color: #0077B5;
	border: 1px solid #0077B5;
}
.sj-socialiconsborder li.sj-skype a {
	color: #00aff0;
	border: 1px solid #00aff0;
}
.sj-socialiconsborder li.sj-dropbox a {
	color: #007ee5;
	border: 1px solid #007ee5;
}
.sj-socialiconsborder li.sj-vimeo a {
	color: #1ab7ea;
	border: 1px solid #1ab7ea;
}
.sj-socialiconsborder li.sj-tumblr a {
	color: #34465d;
	border: 1px solid #34465d;
}
.sj-socialiconsborder li.sj-yahoo a {
	color: #410093;
	border: 1px solid #410093;
}
.sj-socialiconsborder li.sj-googleplus a {
	color: #dd4b39;
	border: 1px solid #dd4b39;
}
.sj-socialiconsborder li.sj-pinterestp a {
	color: #bd081c;
	border: 1px solid #bd081c;
}
.sj-socialiconsborder li.sj-youtube a {
	color: #cd201f;
	border: 1px solid #cd201f;
}
.sj-socialiconsborder li.sj-stumbleupon a {
	color: #eb4924;
	border: 1px solid #eb4924;
}
.sj-socialiconsborder li.sj-reddit a {
	color: #ff5700;
	border: 1px solid #ff5700;
}
.sj-socialiconsborder li.sj-quora a {
	color: #b92b27;
	border: 1px solid #b92b27;
}
.sj-socialiconsborder li.sj-yelp a {
	color: #af0606;
	border: 1px solid #af0606;
}
.sj-socialiconsborder li.sj-soundcloud a {
	color: #ff3300;
	border: 1px solid #ff3300;
}
.sj-socialiconsborder li.sj-whatsapp a {
	color: #25d366;
	border: 1px solid #25d366;
}
.sj-socialiconsborder li.sj-wechat a {
	color: #09b83e;
	border: 1px solid #09b83e;
}
.sj-socialiconsborder li.sj-instagram a {
	color: #e4405f;
	border: 1px solid #e4405f;
}
.sj-socialiconsborder li.sj-dribbble a {
	color: #ea4c89;
	border: 1px solid #ea4c89;
}
.sj-socialiconsborder li.sj-flickr a {
	color: #ff0084;
	border: 1px solid #ff0084;
}
.sj-socialiconsborder li.sj-rss a {
	color: #ff6600;
	border: 1px solid #ff6600;
}
.sj-socialiconsborder li a{
	background: none;
	line-height: 32px;
}
.sj-socialiconsborder li.sj-facebook a i{ color: #3b5999; }
.sj-socialiconsborder li.sj-twitter a i{ color: #55acee; }
.sj-socialiconsborder li.sj-linkedin a i{ color: #0077B5; }
.sj-socialiconsborder li.sj-skype a i{ color: #00aff0; }
.sj-socialiconsborder li.sj-dropbox a i{ color: #007ee5; }
.sj-socialiconsborder li.sj-vimeo a i{ color: #1ab7ea; }
.sj-socialiconsborder li.sj-tumblr a i{ color: #34465d; }
.sj-socialiconsborder li.sj-yahoo a i{ color: #410093; }
.sj-socialiconsborder li.sj-googleplus a i{ color: #dd4b39; }
.sj-socialiconsborder li.sj-pinterestp a i{ color: #bd081c; }
.sj-socialiconsborder li.sj-youtube a i{ color: #cd201f; }
.sj-socialiconsborder li.sj-stumbleupon a i{ color: #eb4924; }
.sj-socialiconsborder li.sj-reddit a i{ color: #ff5700; }
.sj-socialiconsborder li.sj-quora a i{ color: #b92b27; }
.sj-socialiconsborder li.sj-yelp a i{ color: #af0606; }
.sj-socialiconsborder li.sj-soundcloud a i{ color: #ff3300; }
.sj-socialiconsborder li.sj-whatsapp a i{ color: #25d366; }
.sj-socialiconsborder li.sj-wechat a i{ color: #09b83e; }
.sj-socialiconsborder li.sj-instagram a i{ color: #e4405f; }
.sj-socialiconsborder li.sj-dribbble a i{ color: #ea4c89; }
.sj-socialiconsborder li.sj-flickr a i{ color: #ff0084; }
.sj-socialiconsborder li.sj-rss a i{ color: #ff6600; }
.sj-socialicons li a i {
	color: #fff;
	display:block;
	text-align:center;
	font-size: inherit;
	line-height: inherit;
}
.sj-socialsharewithtext li a i{width: 34px;}
.sj-socialicons li a:hover { color: #fff; }
.sj-roundicontext .sj-usericonholder {
	width: 250px;
	display: block;
	overflow: hidden;
	font-style: normal;
}
.sj-roundicontext i,
.sj-roundicontext span {
	float:left;
	font-size: inherit;
	line-height: inherit;
}
.sj-roundicontext span { padding: 0 15px 0 0; }
.sj-roundicontext:focus,
.sj-roundicontext:hover {
	color: #fff;
	width: 100%;
}
.sj-roundicontext:hover .sj-usericonholder { width: 100%; }
.sj-socialiconssimple{
	width:100%;
	float:left;
	list-style:none;
	line-height:20px;
}
.sj-socialiconssimple li{
	float:left;
	padding:0 10px;
	line-height:inherit;
	list-style-type:none;
}
.sj-socialiconssimple li:first-child{padding-left:0;}
.sj-socialiconssimple li a{
	width:auto;
	height:auto;
	display:block;
	font-size:18px;
	background:none;
	border-radius:0;
	line-height:inherit;
}
.sj-socialiconssimple li.sj-facebook a i{color:#3b5999;}
.sj-socialiconssimple li.sj-twitter a i{color:#55acee;}
.sj-socialiconssimple li.sj-linkedin a i{color:#0077B5;}
.sj-socialiconssimple li.sj-googleplus a i{color:#dd4b39;}
.sj-socialiconssimple li.sj-rss a i{color:#ff6600;}
.sj-socialiconssimple li.sj-vimeo a i{color:#1ab7ea;}
.sj-socialiconssimple li.sj-tumblr a i{color:#34465d;}
.sj-socialiconssimple li.sj-yahoo a i{color:#410093;}
.sj-socialiconssimple li.sj-yelp a i{color:#af0606;}
.sj-socialiconssimple li.sj-pinterestp a i{color:#bd081c;}
.sj-socialiconssimple li.sj-youtube a i{color:#cd201f;}
.sj-socialiconssimple li.sj-stumbleupon a i{color:#eb4924;}
.sj-socialiconssimple li.sj-reddit a i{color:#ff5700;}
.sj-verticalmiddle {
	margin: 0 -1px;
	float: none !important;
	display: inline-block;
	vertical-align: middle;
}
.sj-description {
	width: 100%;
	float: left;
}
.sj-bglight { background:#f7f7f7; }
.sj-bgdark { background:#373542; }
.sj-stars span,
.sj-stars {
	width:100px;
	height: 16px;
	float: left;
	line-height:16px;
	position:relative;
}
.sj-stars span:after,
.sj-stars:before {
	top: 0;
	left: 0;
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	letter-spacing: 4px;
	font-family: 'FontAwesome';
	color: rgba(218, 218, 218, .8);
	content: '\f005 \f005 \f005 \f005 \f005';
}
.sj-stars span {
	width:75%;
	overflow: hidden;
}
.sj-stars span:after {color:#000;}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*="col-"],
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}
.sj-dropdowarrow{
	top:9px;
	right:15px;
	color:#fff;
	width:20px;
	z-index:5;
	height:20px;
	display:none;
	cursor:pointer;
	font-size:16px;
	line-height:20px;
	position:absolute;
	text-align:center;
}
.sj-dropdowarrow i{
	display: block;
	font-size: inherit;
	line-height: inherit;
}
.sj-open .sj-dropdowarrow i:before{content: '\f106';}
.menu-itsj-has-children,
.menu-itsj-has-mega-menu{ position: relative; }v
.mega-menu-row{
	width: 100%;
	float: left;
	display: table;
	table-layout: fixed;
}
.mega-menu-col{
	display: table-cell;
	vertical-align: top;
}
.navbar-toggle {
	border: 0;
	margin: 3px 0;
	border-radius: 0;
	padding: 10px 12px;
}
.navbar-toggle .icon-bar{background: #fff;}
.sj-formtheme{
	width:100%;
	float:left;
}
.sj-formtheme fieldset{
	border:0;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	position:relative;
}
.sj-inputwithicon{position:relative;}
.sj-inputwithicon i{
	top:0;
	right:0;
	z-index:2;
	width:40px;
	height:42px;
	line-height:42px;
	position:absolute;
	text-align: center;
}
.sj-inputwithicon .form-control{
	z-index:1;
	position:relative;
}
/* =============================================
			Theme Pagination Style				
============================================= */
.sj-pagination {
	width:100%;
	float: left;
	font:14px/24px 'Montserrat', Arial, Helvetica, sans-serif;
}
.sj-pagination ul {
	margin:0;
	padding:0;
	float:right;
	list-style:none;
	text-align: center;
	line-height: inherit;
}
.sj-pagination ul li {
	float:left;
	margin:0 6px;
	line-height: inherit;
	list-style-type:none;
}
.sj-pagination ul li.sj-prevpage { margin-left:0; }
.sj-pagination ul li.sj-nextpage { margin-right:0; }
.sj-pagination ul li a{
	width:20px;
	display:block;
	color:#373542;
	text-align:center;
	position:relative;
	line-height: inherit;
}
.sj-pagination ul li.sj-nextpage a,
.sj-pagination ul li.sj-prevpage a {
	width:auto;
	font-size: 20px;
	overflow:hidden;
	position:relative;
}
.sj-pagination ul li.sj-nextpage a { padding:0 0 0 25px; }
.sj-pagination ul li.sj-prevpage a { padding:0 25px 0 0; }
.sj-pagination ul li.sj-nextpage a:after,
.sj-pagination ul li.sj-prevpage a:after {
	top:50%;
	opacity:0;
	content:'';
	width:15px;
	height:1px;
	background:#373542;
	position:absolute;
	visibility:hidden;
}
.sj-pagination ul li.sj-nextpage a:after { right:50px; }
.sj-pagination ul li.sj-prevpage a:after { left:50px; }
.sj-pagination ul li.sj-nextpage a:hover:after,
.sj-pagination ul li.sj-prevpage a:hover:after {
	opacity:1;
	visibility:visible;
}
.sj-pagination ul li.sj-nextpage a:hover:after { right:2px; }
.sj-pagination ul li.sj-prevpage a:hover:after { left:2px; }
/* =============================================
			Theme BreadCrumb Style				
============================================= */
.sj-breadcrumb {
	margin:0;
	padding: 0;
	color: #fff;
	float:right;
	text-align:left;
	list-style: none;
	text-transform: capitalize;
	font:400 14px/14px 'Quicksand', Arial, Helvetica, sans-serif;
}
.sj-breadcrumb li {
	width:auto;
	padding:0 10px;
	position:relative;
	line-height:inherit;
	list-style-type:none;
	display: inline-block;
	vertical-align: middle;
}
.sj-breadcrumb li:after {
	top:50%;
	left:-4px;
	width:4px;
	height:4px;
	content:'';
	margin:-2px 0 0;
	background:#fff;
	border-radius:50%;
	position:absolute;
}
.sj-breadcrumb li:last-child { padding: 0 0 0 10px;}
.sj-breadcrumb li:first-child:after { display: none; }
.sj-breadcrumb li a {
	color:#fff;
	display:block;
}
/* =============================================
			Theme Styling						
============================================= */
.sj-home {}
.sj-wrapper {overflow:hidden;}
.sj-main {}
.sj-footer {
	position:relative;
	background: #fcfcfc;
	border-top:1px solid #ddd;
}
.sj-contentwrapper{
	width: 100%;
	margin:0 auto;
	padding:4px 0 0;
	max-width:1270px;
	background: #fff;
	overflow: hidden;
	position:relative;
	-webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.20);
	box-shadow: 0 0 15px 3px rgba(0,0,0,0.20);
}
.sj-contentwrapper:before{
	top:0;
	left:0;
	content:'';
	width:100%;
	height:4px;
	position:absolute;
	background:url(../images/top-strip.jpg) no-repeat;
}
.sj-content,
.sj-twocolumns{
	width:100%;
	float:left;
}
.sj-sectioninnerspace{padding:20px 0;}
.sj-sectioninnerspace:first-child{padding-top:0;}
.sj-alignleft{
	float:left;
	margin:0 30px 30px 0;
}
/* =============================================
			Header Style					
============================================= */
.sj-header {
	z-index: 10;
	background:#fcfcfc;
	position: relative;
	border-bottom:1px solid #ddd;
}
body.sj-home .sj-header{border:0;}
.sj-nav{
	float: left;
	text-transform: capitalize;
	font:500 16px/18px 'Quicksand', Arial, Helvetica, sans-serif;
}
.sj-navigation{
	padding: 0;
	width: 100%;
	float: left;
}
.sj-navigation ul{
	list-style: none;
	line-height: inherit;
}
.sj-navigation > ul{
	width: 100%;
	float: left;
	list-style: none;
	text-align: center;
	line-height: inherit;
}
.sj-navigation ul li{
	line-height: inherit;
	list-style-type: none;
}
.sj-navigation > ul > li{
	float:left;
	width: auto;
	position:relative;
}
.sj-navigation > ul > li > a{
	color:#636c77;
	display: block;
	border-radius:6px;
	position:relative;
	padding: 11px 16px;
	border:1px solid transparent;
}
.sj-navigation > ul > li:hover > a,
.sj-navigation > ul > li.current-menu-item > a{
	background:#fff;
	border-color:#ddd;
}
.sj-navigation > ul > li.menu-item-has-children > a,
.sj-navigation > ul > li.page_item_has_children > a{
	position:relative;
	padding:11px 30px 11px 16px;
}
.sj-navigation > ul > li.menu-item-has-children > a:before,
.sj-navigation > ul > li.page_item_has_children > a:before{
	font-family:'FontAwesome';
	top:50%;
	right:10px;
	font-size:16px;
	margin:-5px 0 0;
	content:'\f107';
	line-height:10px;
	position:absolute;
	
}
.sub-menu,
.mega-menu,
.children{
	left: 0;
	top: 150px;
	opacity: 0;
	text-align:left;
	background: #fff;
	visibility: hidden;
	position: absolute;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}
.sub-menu,
.children{
	margin: 0;
	width: 230px;
	border-radius:6px;
	border-top:2px solid;
}
.sj-navigation > ul > li.menu-item-has-children:last-child .sub-menu,
.sj-navigation > ul > li.page_item_has_children:last-child .sub-menu{
	right:0;
	left:auto;
}
.sj-navigation > ul > li.menu-item-has-children:last-child .sub-menu li .sub-menu,
.sj-navigation > ul > li.page_item_has_children:last-child .sub-menu li .sub-menu{
	left:auto;
	right:100%;
}
.sub-menu li,
.children li{
	width:100%;
	float:left;
	position:relative;
}
.sub-menu li:hover,
.children li:hover{background:#f7f7f7;}
.sub-menu li a,
.children li a{
	color:#636c77;
	display:block;
	padding:13px 30px;
}
.sub-menu li.menu-item-has-children a,
.children li.menu-item-has-children a,
.sub-menu li.page_item_has_children a,
.children li.page_item_has_children a{position: relative;}
.sub-menu li.menu-item-has-children > a:before,
.children li.menu-item-has-children > a:before,
.sub-menu li.page_item_has_children > a:before,
.children li.page_item_has_children > a:before{
	top: 0;
	right: 30px;
	content: '\f105';
	font-size: 14px;
	line-height: 44px;
	position: absolute;
	font-family: 'FontAwesome';
}
.sub-menu li.menu-item-has-children .sub-menu,
.children li.menu-item-has-children .sub-menu,
.sub-menu li.menu-item-has-children .sub-menu,
.children li.page_item_has_children .sub-menu{left: 100%;}
.sub-menu li.page_item_has_children:hover .sub-menu{
	top: 0;
	opacity: 1;
	visibility: visible;
}
.sj-navigation > ul > li:hover > .sub-menu,
.sj-navigation > ul > li:hover > .children,
.sj-navigation > ul > li:hover > .mega-menu{
	top: 100%;
	opacity: 1;
	visibility: visible;
}
.mega-menu-row{
	margin: 0;
	display: table;
	table-layout: fixed;
}
.sj-topbar{
	width:100%;
	float:left;
	padding:20px 0;
	border-bottom:1px solid #ddd;
}
.sj-topbar .sj-socialiconssimple{
	width:auto;
	padding:10px 0;
}
.sj-languagelogin{float:right;}
.sj-languages{
	position: relative;
	text-align: center;
	border-radius:6px;
	display: inline-block;
	vertical-align: middle;
	border:1px solid #dbdbdb;
}
#sj-minicart-button,
#sj-languages-button{
	color: #666;
	display: block;
	font-size: 14px;
	font-weight:500;
	line-height: 16px;
	text-transform: capitalize;
}
#sj-languages-button span{color:#666;}
#sj-languages-button img,
#sj-languages-button span,
#sj-languages-button i{
	display: inline-block;
	vertical-align: middle;
}
#sj-languages-button img{border-radius:4px;}
#sj-languages-button i{
	color:#666;
	padding: 0 0 0 10px;
}
.sj-languages ul{
	top: 40px;
	right: 0;
	z-index: 9;
	width: 100px;
	display: none;
	font-size: 14px;
	font-weight:500;
	background: #fff;
	border-radius:6px;
	position: absolute;
	line-height: normal;
	text-transform: uppercase;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
	-webkit-box-shadow:inset 0 2px 0 0 #5e9cea;
	box-shadow:inset 0 2px 0 0 #5e9cea;
}
.sj-languages ul:before{
	top:0;
	left:0;
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
}
.sj-languages ul li{
	float: left;
	width: 100%;
	padding: 0 10px;
	line-height: inherit;
	list-style-type: none;
}
.sj-languages ul li a{
	display: block;
	color: #636c77;
	padding: 12px 0;
}
.sj-languages ul li a img,
.sj-languages ul li a span{
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
}
.sj-languages ul li a img{border-radius:4px;}
.sj-loginarea{
	float:left;
	padding:11px 18px 11px 0;
}
.sj-loging{
	width:100%;
	float:left;
	font-size:14px;
	font-weight:500;
	list-style:none;
	line-height:17px;
}
.sj-loging li{
	float:left;
	padding:0 12px;
	line-height:inherit;
	list-style-type:none;
}
.sj-loging li a{
	color:#666;
	display:block;
}
.sj-navigationarea{
	width:100%;
	float:left;
	padding:30px 0;
}
.sj-logo{
	float:left;
	padding:4px 0;
}
.sj-logo a,
.sj-logo a img{display:block;}
.sj-logo a img{
	width:100%;
	height:auto;
}
.sj-rightarea{float:right;}
.sj-nav,
.sj-rightarea .sj-btn,
.sj-rightarea .sj-btnsearch{
	float:none;
	display:inline-block;
	vertical-align:middle;
}
.sj-btntopsearch{
	margin:0 25px 0 20px;
	color:#636c77;
	font-size:16px;
	line-height:16px;
}
.sj-tagnew{
	right:0;
	top:-15px;
	z-index:5;
	color:#fff;
	width:35px;
	font-size:9px;
	padding:0 8px;
	line-height:17px;
	position:absolute;
	border-radius:30px 30px 30px 0;
}
.sj-tagnew:before{
	left:0;
	top:100%;
	width: 0;
	height: 0;
	content:'';
	position:absolute;
	border-top: 6px solid;
	border-right: 6px solid transparent !important;
}
.sj-userloginarea,
body.sj-userlogin .sj-loginarea{display:none;}
.sj-loginarea,
body.sj-userlogin .sj-userloginarea{display:block;}
.sj-userloginarea{
	float:left;
	margin:0 30px 0 0;
	position: relative;
}
.sj-userloginarea a{
	width:100%;
	float:left;
	display:block;
	color:#636c77;
	position:relative;
	padding:0 30px 0 0;
}
.sj-userloginarea > a > i{
	top:50%;
	right:0;
	font-size:16px;
	margin:-8px 0 0;
	line-height:16px;
	position:absolute;
	font-family:'FontAwesome';
}
.sj-userloginarea img{
	width:48px;
	float:left;
	height:48px;
	padding:3px;
	background:#fff;
	border-radius:50%;
	margin:0 10px 0 0;
	border:1px solid #ddd;
}
.sj-loginusername{
	padding:8px 0;
	overflow:hidden;
}
.sj-loginusername h3{
	font-size:14px;
	margin:0 0 5px;
	font-weight:500;
	line-height:14px;
}
.sj-loginusername span{
	display:block;
	font-size:13px;
	line-height:13px;
}
body.sj-userlogin .sj-topbar .sj-socialiconssimple{padding:14px 0;}
body.sj-userlogin .sj-topbar .sj-languages{margin:4px 0;}
/* =============================================
			Home Banner Style					
============================================= */
.sj-bannercontent{
	width:100%;
	float:left;
	padding:85px 0;
}
.sj-homebanner{
	width:100%;
	float:left;
	background:#fcfcfc;
	border-bottom:1px solid #ddd;
}
.sj-bannercontent h1{
	font-size:52px;
	margin:0 0 32px;
	padding:0 0 22px;
	line-height:62px;
	position:relative;
}
.sj-bannercontent h1:before{
	left:0;
	bottom:0;
	content:'';
	height:4px;
	width:170px;
	position:absolute;
	border-radius:50px;
}
.sj-bannercontent h1 span{display:block;}
.sj-bannercontent .sj-description p{
	margin:0;
	font-size:22px;
	line-height:32px;
}
.sj-bannercontent .sj-description p a{
	color:#5e9cea;
	text-decoration:none;
}
.sj-postbook {
	width: 100%;
	float: left;
	margin:0 0 -60px;
	position:relative;
}
.sj-featureimg {
	margin: 0;
	width: 100%;
	float: left;
	position: relative;
	padding:0 30px 0 70px;
}
.sj-bookimg{
	width: 100%;
	float: left;
	position: relative;
}
.sj-frontcover {
	z-index: 2;
	width: 100%;
	float: left;
	position: relative;
}
.sj-frontcover:after {
	top: 0;
	right: 13px;
	z-index: -1;
	width: 8px;
	height: 97%;
	content: '';
	position: absolute;
	background: url(../images/slider/bookpattren.png) no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.sj-bookimg img {
	width: 100%;
	height: auto;
	display: block;
}
/* =============================================
			Greeting &amp; Welcome Style		
============================================= */
.sj-welcomegreeting{
	width:100%;
	float:left;
	margin:0 0 40px;
	padding:20px 5px;
	border-radius:6px;
	background:#fcfcfc;
}
.sj-welcomeslider{
	width:100%;
	float:left;
}
.sj-welcomeimg{
	margin:0;
	width:100%;
	float:left;
	border-radius:6px;
}
.sj-welcomeimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-welcomeslider .sj-slidernav{display:none;}
.sj-welcomehead,
.sj-welcomecontent{
	width:100%;
	float:left;
}
.sj-welcomehead{padding:0 0 22px;}
.sj-welcomehead span{
	display:block;
	font-size:20px;
	line-height:20px;
}
.sj-welcomehead h2{
	margin:0;
	font-size:30px;
	line-height:30px;
}
.sj-welcomecontent .sj-description p{
	margin:0;
	font-size:16px;
	line-height:26px;
}
.sj-btnarea{
	width:100%;
	float:left;
	padding:23px 0 0;
}
.sj-btnarea .sj-btn{padding:0 50px;}
.sj-btnarea .sj-btn + .sj-btn{margin:0 0 0 26px;}
.sj-btnvideo{
	color:#fff;
	left: -121px;
	display:block;
	bottom: 250px;
	font-size:20px;
	line-height:20px;
	position:absolute;
	border-radius:10px 10px 0 0;
	padding:20px 20px 20px 80px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.sj-btnvideo,
.sj-btnvideo span{color:#fff;}
.sj-btnvideo span{
	display:block;
	line-height:inherit;
}
.sj-btnvideo i{
	top: 0;
	left: 20px;
	width: 50px;
	height: 100%;
	font-size:24px;
	line-height: 60px;
	text-align: center;
	position: absolute;
	background:#eb5463;
}
.sj-btnvideo i:after{
	width: 0;
	height: 0;
	top: -36px;
	left: 12px;
	z-index: 1;
	content: '';
	position: absolute;
	border-bottom: 25px solid #eb5463;
	border-left: 26px solid transparent;
	border-top: 25px solid #eb5463;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sj-btnvideo:hover i{color:#fff;}
/* =============================================
			Editors Choice Style		
============================================= */
.sj-borderheading{
	width: 100%;
	float: left;
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid #ddd;
}
.sj-borderheading h3{
	margin:0;
	float:left;
	font-size:24px;
	line-height:24px;
}
.sj-borderheading a{
	float:right;
	display:block;
	padding:0 40px;
	font-size:14px;
	font-weight:500;
	line-height:25px;
}
.sj-post,
.sj-editorchoice,
.sj-editorschoice{
	width:100%;
	float:left;
}
.sj-editorschoice .item{
	width:100%;
	float:left;
	margin:-15px 0;
}
.sj-editorchoice{padding:15px 0;}
.sj-postimg{
	float:left;
	margin:0 20px 0 0;
	border-radius:6px;
}
.sj-postimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-postimg:before{
	top:0;
	left:0;
	opacity:0;
	content:'';
	width:100%;
	height:100%;
	visibility:hidden;
	border-radius:6px;
	position:absolute;
	background:
		-moz-linear-gradient(-45deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	background:
		-webkit-linear-gradient(-45deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	background:
		linear-gradient(135deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80636c77', endColorstr='#80636c77',GradientType=1 );
}
.sj-postcontent{
	padding:10px 0;
	overflow:hidden;
}
.sj-editorchoice:hover .sj-postimg:before{
	opacity:1;
	visibility:visible;
}
.sj-head{
	width:100%;
	float:left;
	padding:0 0 10px;
}
.sj-username{
	color:#636c77;
	display:block;
	font-size:13px;
	margin:0 0 10px;
	line-height:13px;
	position:relative;
	padding:0 0 0 20px;
}
.sj-username:after{
	top:0;
	left:0;
	font-size:13px;
	content:'\f007';
	line-height:13px;
	position:absolute;
	font-family: 'Font Awesome\ 5 Free';
}
.sj-username a{
	color:#636c77;
	display:block;
}
.sj-head h3{
	margin:0;
	font-size:16px;
	font-weight:500;
	line-height:20px;
}
.sj-head h3 a{
	color:#636c77;
	display:block;
}
.sj-postcontent .sj-description {padding:0 0 15px;}
.sj-postcontent .sj-description p{margin:0;}
.sj-prev,
.sj-next{
	right:0;
	top:-66px;
	width:26px;
	height:26px;
	cursor:pointer;
	border-radius:50%;
	text-align:center;
	position:absolute;
	border:1px solid #dedede;
}
.sj-prev{right: 105px;}
.sj-prev span,
.sj-next span{
	display:block;
	line-height:24px;
}
.sj-prev:hover span,
.sj-next:hover span{color:#fff;}
.sj-post .sj-postcontent .sj-btn{
	padding: 0 20px;
	line-height:30px;
}
/* =============================================
			Previous Issues Style				
============================================= */
.sj-previousissues{
	width:100%;
	float:left;
}
.sj-navtabs{
	width:30%;
	float:left;
	list-style:none;
	font-size:14px;
	line-height:17px;
}
.sj-navtabs li{
	width:100%;
	float:left;
	padding:5px 0;
	line-height:inherit;
	list-style-type:none;
}
.sj-navtabs li a{
	padding:5px 0;
	color:#636c77;
	display:block;
	position:relative;
	padding:0 0 0 15px;
	line-height:inherit;
}
.sj-navtabs li a:before{
	left:0;
	top:50%;
	width:4px;
	height:4px;
	content:'';
	margin:-2px 0 0;
	position:absolute;
	border-radius:50%;
	background:#636c77;
}
.sj-navtabs li:hover{padding-left:15px;}
.sj-navtabs li a span{font-weight:500;}
.sj-tabcontent{
	width:70%;
	float:left;
}
.sj-tabcontent .tab-pane{
	width:100%;
	float:left;
}
.sj-issuesslider,
.sj-issuesslider .item{
	width:100%;
	float:left;
}
.sj-issuesslider .item{margin:-15px 0;}
.sj-smallpost{
	width:50%;
	float:left;
}
.sj-smallpost .sj-postcontent {padding:5px 0;}
.sj-smallpost .sj-postcontent .sj-head{padding:0;}
.sj-smallpost .sj-postcontent .sj-head .sj-username{margin:0 0 6px;}
/* =============================================
			Upcoming Books Style				
============================================= */
.sj-upcomingbooks,
.sj-upcomingbooks .item{
	width:100%;
	float:left;
}
.sj-upcomingbook{
	width:100%;
	float:left;
}
.sj-upcomingbookimg{
	margin:0;
	width:100%;
	float:left;
	border-radius:6px;
}
.sj-upcomingbookimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-upcomingbookimg:before{
	top:0;
	left:0;
	opacity:0;
	content:'';
	width:100%;
	height:100%;
	visibility:hidden;
	border-radius:6px;
	position:absolute;
	background:
		-moz-linear-gradient(-45deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	background:
		-webkit-linear-gradient(-45deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	background:
		linear-gradient(135deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80636c77', endColorstr='#80636c77',GradientType=1 );
}
.sj-upcomingbook:hover .sj-upcomingbookimg:before{
	opacity:1;
	visibility:visible;
}
.sj-upcomingbook .sj-postcontent{
	width:100%;
	float:left;
	padding:20px 0 0;
	text-align:center;
}
.sj-upcomingbook .sj-postcontent h3{
	margin:0;
	font-size:16px;
	font-weight:500;
	line-height:20px;
}
/* =============================================
			News Articles Style					
============================================= */
.sj-newsposts,
.sj-newsarticle,
.sj-newsarticles,
.sj-newsarticle .item{
	width:100%;
	float:left;
}
.sj-newsimg{
	margin:0;
	width:100%;
	float:left;
	border-radius:6px;
}
.sj-newsimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-newsimg:before{
	top:0;
	left:0;
	opacity:0;
	content:'';
	width:100%;
	height:100%;
	visibility:hidden;
	border-radius:6px;
	position:absolute;
	background:
		-moz-linear-gradient(-45deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	background:
		-webkit-linear-gradient(-45deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	background:
		linear-gradient(135deg,
		rgba(99,108,119,0.5) 0%,
		rgba(99,108,119,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80636c77', endColorstr='#80636c77',GradientType=1 );
}
.sj-newscontent{
	width:100%;
	float:left;
	text-align:left;
	padding:20px 0 0;
}
.sj-newshead{
	width:100%;
	float:left;
	padding:0 0 12px;
}
.sj-newshead h3{
	margin:7px 0 0;
	font-size:16px;
	font-weight:500;
	line-height:20px;
}
.sj-newshead h3 a{display:block;}
.sj-posttimedate{
	color:#636c77;
	display:block;
	font-size:13px;
	line-height:13px;
	position:relative;
	padding:0 0 0 18px;
}
.sj-posttimedate:after{
	top:0;
	left:0;
	font-size:13px;
	content:'\f073';
	line-height:13px;
	position:absolute;
	font-family: 'Font Awesome\ 5 Free';
}
.sj-newscontent .sj-description p{margin:0;}
.sj-newscontent .sj-description p a{text-decoration:none;}
/* =============================================
			Sidebar Style						
============================================= */
.sj-sidebar{
	width:100%;
	float:left;
}
.sj-widget{
	width:100%;
	float:left;
}
.sj-widget + .sj-widget{margin:40px 0 0;}
.sj-widgetheading{
	width:100%;
	float:left;
	padding:0 20px;
	margin: 0 0 10px;
	border-radius:6px;
	background:#fcfcfc;
}
.sj-widgetheading h3{
	margin:0;
	font-size:16px;
	font-weight:500;
	line-height:40px;
}
.sj-widgetcontent{
	width:100%;
	float:left;
}
.sj-widgetcontent ul{
	width:100%;
	float:left;
	font-size:14px;
	list-style:none;
	line-height:14px;
	text-transform:capitalize;
}
.sj-widgetcontent ul li{
	width:100%;
	float:left;
	position:relative;
	line-height:inherit;
	list-style-type:none;
	padding:6px 0 6px 15px;
}
.sj-widgetcontent ul li a{
	color:#636c77;
	display:block;
}
.sj-widgetcontent ul li.sj-more {padding-left:0;}
.sj-widgetcontent .sj-formsearch .form-control {
	z-index: 1;
	position: relative;
	padding: 10px 45px 10px 15px;
}
.sj-widgetcontent .sj-formsearch button {
	top: 1px;
	color:#fff;
	right: 1px;
	z-index: 2;
	width: 40px;
	height: 40px;
	font-size:12px;
	line-height: 38px;
	position: absolute;
	border-radius:0 6px 6px 0;
}
.sj-widgetimpactfector .sj-widgetcontent{
	padding:7px;
	border-radius:6px;
	border:1px solid #ddd;
}
.sj-widgetimpactfector .sj-widgetcontent ul{
	padding:0 10px;
	background:#fcfcfc;
}
.sj-widgetimpactfector .sj-widgetcontent ul li{padding:20px 0;}
.sj-widgetimpactfector .sj-widgetcontent ul li + li{border-top:1px solid #ddd;}
.sj-widgetimpactfector .sj-widgetcontent ul li:first-child{text-align:center;}
.sj-widgetimpactfector .sj-widgetcontent ul li h3{
	font-size:18px;
	font-weight:700;
	line-height:22px;
}
.sj-widgetimpactfector .sj-widgetcontent ul li h3 span{display:block;}
.sj-widgetimpactfector .sj-widgetcontent ul li .sj-description p{margin:0;}
.sj-widgetimpactfector .sj-widgetcontent ul li .sj-description p a{
	color:#5e9cea;
	display:block;
	margin:10px 0 0;
	font-weight:500;
	line-height:14px;
	text-decoration:none;
}
.sj-widgetnoticeboard .sj-widgetcontent ul{line-height:22px;}
.sj-widgetnoticeboard .sj-widgetcontent ul li:before {
	left: 0;
	top: 17px;
	width: 4px;
	height: 4px;
	content: '';
	margin: -2px 0 0;
	border-radius: 50%;
	position: absolute;
	background: #636c77;
}
.sj-headtitle{
	display:block;
	margin:0 0 6px;
	font-size:11px;
	line-height:12px;
	text-align:center;
	text-transform:uppercase;
}
.sj-addimage{
	margin:0;
	width:100%;
	float:left;
	padding:7px;
	background:#fff;
	border-radius:6px;
	border:1px solid #ddd;
}
.sj-addimage a{display:block;}
.sj-addimage img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-widgetquestions .sj-widgetheading h3{color:#fff;}
.sj-widgetquestions .sj-widgetcontent{padding:10px 10px 0;}
.sj-questions,
.sj-selectgroup{
	width:100%;
	float:left;
}
.sj-selectgroup{padding:0 0 24px;}
.sj-questions .sj-btn{
	padding:0 25px;
	line-height:30px;
}
/* =============================================
			Footer Style						
============================================= */
.sj-footer{background:#fcfcfc;}
.sj-footercolumns{
	width:100%;
	float:left;
	padding:60px 0;
}
.sj-fcol{
	width:100%;
	float:left;
}
.sj-footeraboutus {text-align:center;}
.sj-fcol .sj-logo{
	float:none;
	width:234px;
	margin:0 auto;
	display:block;
	padding:0 0 25px;
}
.sj-footeraboutus .sj-description p{margin:0;}
.sj-footeraboutus .sj-description p a{text-decoration:none;}
.sj-footeraboutus .sj-socialiconssimple {
	padding:15px 0 0;
	text-align:center;
}
.sj-footeraboutus .sj-socialiconssimple li{
	float:none;
	display:inline-block;
	vertical-align:middle;
}
.sj-fcol .sj-widgetheading{
	margin:0;
	border-radius:0;
	background:none;
	padding:0 0 20px;
}
.sj-fcol .sj-widgetheading h3{
	font-size:18px;
	line-height:18px;
}
.sj-fcol .sj-widgetcontent ul li:before{
	left:0;
	top:50%;
	width:4px;
	height:4px;
	content:'';
	margin:-2px 0 0;
	border-radius:50%;
	position:absolute;
	background:#636c77;
}
.sj-fcol .sj-widgetcontent ul li.sj-more:before{display:none;}
.sj-widgetresources,
.sj-widgetusefullinks{padding:0 0 0 30px;}
.sj-widgetcontactus .sj-widgetcontent ul li{padding-left:0;}
.sj-widgetcontactus .sj-widgetcontent ul li:before{display:none;}
.sj-widgetcontactus .sj-widgetcontent ul li address{
	margin:0;
	font-style:normal;
}
.sj-widgetcontactus .sj-widgetcontent ul li i,
.sj-widgetcontactus .sj-widgetcontent ul li a i,
.sj-widgetcontactus .sj-widgetcontent ul li a span,
.sj-widgetcontactus .sj-widgetcontent ul li address{
	display:inline-block;
	vertical-align:top;
}
.sj-widgetcontactus .sj-widgetcontent ul li i,
.sj-widgetcontactus .sj-widgetcontent ul li a i{width:30px;}
.sj-widgetcontactus .sj-widgetcontent ul li address{
	width:85%;
	line-height:20px;
}
.sj-widgetcontactus .sj-widgetcontent ul li:first-child i{line-height:18px;}
.sj-btnscrolltotop{
	top:-23px;
	right:80px;
	width:90px;
	color:#fff;
	height:22px;
	display:block;
	font-size:18px;
	line-height:22px;
	text-align:center;
	position:absolute;
	background:url(../images/btnscroll-bg.png) center center;
}
.sj-btnscrolltotop i,
.sj-btnscrolltotop:hover{color:#fff;}
.sj-footerbottom{
	width:100%;
	float:left;
	padding:16px 0;
	text-align:center;
	border-top:1px solid #ddd;
}
.sj-copyrights{
	margin:0;
	width:100%;
	float:left;
	line-height:17px;
	text-align:center;
}
.sj-copyrights span{
	color:#5e9cea;
	font-weight:500;
}
/* ==========================================================================================
									Inner Pages Style										
========================================================================================== */
/* =============================================
			Inner Banner Style					
============================================= */
.sj-innerbanner{
	width:100%;
	float:left;
	padding:14px 0;
	background:#636c77;
}
.sj-innerbannercontent{
	width:100%;
	float:left;
}
.sj-innerbannercontent h1{
	margin:0;
	float:left;
	color:#fff;
	font-size:16px;
	font-weight:500;
	line-height:16px;
}
/* =============================================
			About Us Style						
============================================= */
.sj-aboutus{
	width:100%;
	float:left;
}
.sj-aboutusimg{
	margin:0;
	width:100%;
	float:left;
	margin:0 0 10px;
	border-radius:6px;
}
.sj-aboutusimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-introduction{
	width:100%;
	float:left;
}
.sj-introduction span{
	display:block;
	font-size:20px;
	line-height:22px;
}
.sj-introduction h4{
	font-size:30px;
	margin:0 0 15px;
	line-height:33px;
}
.sj-introduction .sj-description p:last-child{margin:0;}
.sj-ourhistory{
	width:100%;
	float:left;
}
.sj-tableourhistory{
	border:0;
	margin: 0 0 25px;
	border-collapse: separate;
}
.sj-tableourhistory tr th,
.sj-tableourhistory tr td{
	color:#636c77;
	font-size:16px;
	text-align:left;
	line-height:18px;
	padding:16px 20px;
	background:#fcfcfc;
	border-right:0;
	border-top:0;
	border-color:#ddd;
}
.sj-tableourhistory tr th{
	font-weight:500;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd !important;
}
.sj-tableourhistory tr th:first-child{border-radius:6px 0 0 0;}
.sj-tableourhistory tr th:last-child{
	border-radius:0 6px 0 0;
	border-right:1px solid #ddd;
}
.sj-tableourhistory tr td{background:none;}
.sj-tableourhistory tr td:first-child{border-left:0;}
.sj-tableourhistory tr td:last-child{border-right:0;}
.sj-ourhistory .sj-deacription p:last-child{margin:0;}
.sj-ouraim,
.sj-ouraims{
	width:100%;
	float:left;
}
.sj-ouraims{padding-bottom:0;}
.sj-placeholder img{
	opacity:0;
	width:100%;
	min-height:300px;
	visibility:hidden;
}
.sj-placeholder iframe{
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}
.sj-firstletter{
	margin: 0;
	float: left;
	font-size: 70px;
	line-height: 65px;
	padding: 0 15px 0 15px;
}
.sj-ouraim .sj-description p:last-child{margin:0;}
/* =============================================
			Articles Style						
============================================= */
.sj-articles{
	width:100%;
	float:left;
}
.sj-showitems{
	display:block;
	font-size:16px;
	margin:0 0 17px;
	line-height:18px;
}
.sj-showitems em{
	font-weight:500;
	font-style:normal;
}
.sj-uploadarticle{
	width:100%;
	float:left;
	padding:3px;
	border-radius:6px;
	border:1px solid #ddd;
}
.sj-uploadarticleimg{
	margin:0;
	width:100%;
	float:left;
}
.sj-uploadarticleimg img{
	width:100%;
	height:auto;
	display:block;
}
.sj-uploadarticleimg figcaption{
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	text-align:center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
			align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-justify-content: center;
			justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
			flex-direction: column;
}
.sj-uploadcontent{
	width:100%;
	float:left;
	padding:0 20px;
}
.sj-uploadcontent span{
	display:block;
	font-size:18px;
	margin: 0 0 6px;
	line-height:20px;
}
.sj-uploadcontent h3{
	font-size:22px;
	font-weight:500;
	margin: 0 0 15px;
	line-height:24px;
}
.sj-uploadcontent .sj-btn{
	padding:0 30px;
	line-height:30px;
}
.sj-formsortitems {padding:30px 0 15px;}
.sj-formsortitems fieldset{text-align:right;}
.sj-formsortitems .form-group{
	margin:0;
	width:auto;
	float:none;
	padding:5px 20px;
	border-radius:6px;
	display:inline-block;
	vertical-align:middle;
	border:1px solid #ddd;
}
.sj-formsortitems .form-group + .form-group{margin:0 0 0 6px;}
.sj-formsortitems .form-group em{
	font-size:13px;
	line-height:17px;
	font-style:normal;
}
.sj-formsortitems .form-group .sj-select{
	border:0;
	float:none;
	width:auto;
	padding:0;
	line-height:17px;
}
.sj-formsortitems .form-group .sj-select:after{
	right:0;
	color:#636c77;
	font-size:12px;
	content:'\f078';
	font-weight:400;
	line-height:20px;
	font-family:'FontAwesome';
}
.sj-formsortitems .form-group .sj-select select{
	border:0;
	padding:0;
	height:auto;
	font-size:13px;
	line-height:17px;
	padding:0 20px 0 0;
}
.sj-formsortitems .form-group .sj-select select option{width:100%;}
.sj-formsortitems .form-group em,
.sj-formsortitems .form-group .sj-select{
	display:inline-block;
	vertical-align:middle;
}
.sj-widgetdate .sj-selectgroup,
.sj-widgetarticles .sj-selectgroup ,
.sj-widgetspeciality .sj-selectgroup {padding:0;}
.sj-selectgroup .sj-checkbox{padding: 2px 0;}
.sj-selectgroup .sj-checkbox label{color:#636c77;}
.sj-selectgroup .sj-checkbox input[type=checkbox] + label:before{color:#ddd;}
.sj-selectgroup .sj-checkbox label em{
	float:right;
	font-style:normal;
}
.sj-filterbtns{
	width:100%;
	float:left;
	padding:30px 0 0;
}
.sj-filterbtns .sj-btn{
	width:48%;
	padding:0;
	float:left;
	line-height:30px;
}
.sj-filterbtns .sj-btn + .sj-btn{margin:0 0 0 10px;}
.sj-filterbtns .sj-btn:hover:before{background:#eb5463;}
/* =============================================
			Article Detail Style				
============================================= */
.sj-articledetail{
	width:100%;
	float:left;
}
.sj-downloadprint{
	float:right;
	font-size:14px;
	list-style:none;
	padding:0 0 20px;
	line-height:14px;
}
.sj-downloadprint li{
	float:left;
	padding:0 20px;
	line-height:inherit;
	list-style-type:none;
}
.sj-downloadprint li:last-child{padding-right:0;}
.sj-downloadprint li a{
	display:block;
	color:#636c77;
}
.sj-downloadprint li a i{margin:0 10px 0 0;}
.sj-downloadprint li a i,
.sj-downloadprint li a span{
	color:#636c77;
	display:inline-block;
	vertical-align:middle;
}
.sj-articledetailimg{
	width:100%;
	float:left;
	padding:5px;
	margin:0 0 10px;
	background:#fff;
	border-radius:6px;
	border:1px solid #ddd;
}
.sj-articledetailimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:3px;
}
.sj-articledescription{
	width:100%;
	float:left;
}
.sj-articledescription h4{
	font-size: 30px;
	margin: 0 0 15px;
	line-height: 33px;
}
.sj-articledescription .sj-username{
	font-size:20px;
	line-height:20px;
	padding:0 0 0 30px;
}
.sj-articledescription .sj-username:after{
	font-size:20px;
	line-height:20px;
}
.sj-articledescription .sj-description p:last-child{margin:0;}
.sj-ourfocus{
	width:100%;
	float:left;
	padding-top:10px;
}
.sj-thumbs,
.sj-ourfocusslider,
.sj-ourfocussliderholder{
	width:100%;
	float:left;
}
.sj-thumbs{padding:10px 220px 0;}
.sj-thumbs .item,
.sj-ourfocusslider .item{
	width:100%;
	float:left;
}
.sj-thumbs .item{
	cursor:pointer;
	border-radius:6px;
	border:1px solid transparent;
}
.sj-thumbs .item figure,
.sj-ourfocusslider .item figure{
	margin:0;
	width:100%;
	float:left;
	overflow:hidden;
	position:relative;
	border-radius:6px;
}
.sj-thumbs .item figure img,
.sj-ourfocusslider .item figure{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-thumbs .item figure:before{
	top:0;
	left:0;
	opacity:0;
	width:100%;
	content:'';
	height:100%;
	visibility:hidden;
	position:absolute;
	background:rgba(99, 108, 119, 0.50);
}
.sj-thumbs .owl-item:hover .item,
.sj-thumbs .owl-item.current .item{
	padding:3px;
	border-color:#ddd;
}
.sj-thumbs .owl-item:hover .item figure:before,
.sj-thumbs .owl-item.current .item figure:before{
	opacity:1;
	visibility:visible;
}
.sj-suprisingoutcum{
	width:100%;
	float:left;
}
.sj-chartholder{
	width:50%;
	float:left;
	background:#fff;
	border-radius:6px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}
.sj-charthead{
	width:100%;
	float:left;
	padding:10px;
}
.sj-charthead h3{
	margin:0;
	float:left;
	font-size:18px;
	font-weight:500;
	line-height:18px;
	padding:12px 0 12px 20px;
}
.sj-charthead .sj-select{
	float:right;
	max-width:180px;
}
.sj-viewchart{
	width: 100%;
	float: left;
	height: 300px;
	padding: 15px 0 0;
}
.sj-viewchart .ct-bar {
	stroke: #eee;
	cursor: pointer;
}
.sj-viewchart .ct-grid.ct-horizontal {display: none}
.sj-viewchart .ct-vertical{
	stroke-dasharray: 0;
	stroke: rgba(234, 237, 239, 1);
}
.sj-viewchart .ct-label{
	color: #636c77;
	font-size: 13px;
	font-weight:500;
}
.sj-suprisinginfo{
	width:50%;
	float:left;
	padding:0 0 0 30px;
}
.sj-suprisinginfo blockquote{
	width:100%;
	float:left;
	quotes:none;
	font-size:20px;
	font-weight:700;
	line-height:20px;
}
.sj-suprisinginfo .sj-description{padding:16px 0;}
.sj-suprisinginfo .sj-description p:last-child{margin:0;}
.sj-sectioninnerspace:last-child{padding-bottom:0;}
.sj-widgetrelatedarticles .sj-widgetcontent ul li{padding:13px 0 13px 5px;}
.sj-widgetrelatedarticles .sj-widgetcontent ul li:last-child{padding-bottom:0;}
.sj-widgetrelatedarticles .sj-widgetcontent ul li + li{border-top:1px solid #ddd;}
.sj-widgetrelatedarticles .sj-widgetcontent ul li .sj-description p{
	margin:0;
	font-size:16px;
	font-weight:500;
	line-height:26px;
}
/* =============================================
			News Grid Style						
============================================= */
.sj-newsgrid,
.sj-newsgridholder{
	width:100%;
	float:left;
}
.sj-newsgrid .sj-formsortitems{padding-top:0;}
.sj-newsgridholder .sj-newsarticle{padding:15px 0;margin: 0;}
/* =============================================
			News List Style						
============================================= */
.sj-newslists{
	width:100%;
	float:left;
}
.sj-newslists .sj-formsortitems{padding-top:0;}
.sj-newslists .sj-editorchoice .sj-postcontent{padding:26px 0;}
.sj-newslists .sj-editorchoice .sj-postcontent .sj-posttimedate{padding:0 0 8px 18px;}
.sj-newslists .sj-editorchoice .sj-description{padding:0;}
.sj-newslists .sj-editorchoice .sj-description p{margin:0;}
.sj-newslists .sj-editorchoice .sj-description p a{text-decoration:none;}
.sj-widgetrelatednews ul li {padding:13px 0 13px 5px;}
.sj-widgetrelatednews ul li + li{border-top:1px solid #ddd;}
.sj-widgetrelatednews ul li .sj-username{margin:0 0 3px;}
.sj-widgetrelatednews ul li .sj-description p{
	margin:0;
	font-size:16px;
	font-weight:500;
	line-height:26px;
}
/* =============================================
			News Detail Style					
============================================= */
.sj-newsdetail{
	width:100%;
	float:left;
}
.sj-newsdetail .sj-head .sj-username{
	font-size: 20px;
	line-height: 20px;
	padding: 0 0 0 30px;
}
.sj-newsdetail .sj-head .sj-username:after {
	font-size: 20px;
	line-height: 20px;
}
.sj-newsdetail .sj-head h3 {
	font-size: 30px;
	font-weight:400;
	margin: 0 0 15px;
	line-height: 33px;
}
.sj-newsdetailimg{
	margin:0;
	width:100%;
	float:left;
	padding:6px;
	background:#fff;
	border-radius:6px;
	border:1px solid #ddd;
}
.sj-newsdetailimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-tagssocialshare{
	width:100%;
	float:left;
	margin:0 0 20px;
	padding:15px 20px;
	border-bottom:1px solid #ddd;
}
.sj-posttags{
	float:left;
	font-size:16px;
	list-style:none;
	font-weight:500;
	line-height:16px;
}
.sj-posttags li{
	float:left;
	line-height:inherit;
	list-style-type:none;
}
.sj-posttags li + li{padding:0 0 0 5px;}
.sj-posttags li a{
	display:block;
	color:#636c77;
}
.sj-posttags li a i,
.sj-posttags li a span{
	display:inline-block;
	vertical-align:middle;
}
.sj-posttags li a i{margin:0 10px 0 0;}
.sj-tagssocialshare .sj-socialiconssimple{
	width:auto;
	float:right;
}
.sj-tagssocialshare .sj-socialiconssimple li:last-child{padding-right:0;}
.sj-newsdetail .sj-description blockquote{
	width:100%;
	float:left;
	quotes:none;
	font-size:20px;
	padding:0 135px;
	font-weight:700;
	line-height:30px;
	text-align:center;
}
.sj-newsdetail .sj-description p:last-child{margin:0;}
.sj-newsdetail .sj-description blockquote q{
	width:100%;
	float:left;
	padding:0 0 15px;
}
.sj-clientname{
	color:#636c77;
	font-size:14px;
	line-height:14px;
	display:inline-block;
	vertical-align:middle;
}
.sj-clientname em{
	color:#636c77;
	font-style:normal;
}
.sj-author{
	width:100%;
	float:left;
	padding:40px 0;
	margin:33px 0 0;
	border-top:1px solid #ddd;
}
.sj-authorimg{
	float:left;
	padding:3px;
	background:#fff;
	margin:0 20px 0 0;
	border-radius:6px;
	border:1px solid #ddd;
}
.sj-authorimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-authorcontent{
	padding:20px;
	overflow:hidden;
	border-radius:6px;
	background:#fcfcfc;
}
.sj-authorhead{
	width:100%;
	float:left;
	padding:0 0 20px;
}
.sj-leftarea{float:left;}
.sj-authorname{
	width:100%;
	float:left;
}
.sj-authorname h3{
	font-size:16px;
	font-weight:500;
	line-height:16px;
}
.sj-authorname span{
	display:block;
	font-size:14px;
	line-height:14px;
}
.sj-authorcontent .sj-description p{margin:0;}
.sj-comments{
	width:100%;
	float:left;
}
.sj-comments ul{
	margin:0;
	width:100%;
	float:left;
	list-style:none;
}
.sj-comments > ul > li{
	width:100%;
	float:left;
	list-style-type:none;
}
.sj-comments > ul > li + li{padding:20px 0 0;}
.sj-comments > ul > li .sj-author{
	margin:0;
	border:0;
	padding:0;
}
.sj-comments > ul > li .sj-childcomment li{list-style-type:none;}
.sj-childcomment{padding:20px 0 0 70px;}
.sj-btnreply{
	float:right;
	width:33px;
	height:33px;
	color:#636c77;
	font-size:12px;
	line-height:31px;
	text-align:center;
	border-radius:50%;
	border:1px solid #ddd;
}
.sj-btnreply i{color:#636c77;}
.sj-btnreply:hover i{color:#fff;}
.sj-leaveyourcomment{
	width:100%;
	float:left;
	padding:35px 0 0;
}
.sj-formleavecomment textarea{
	width:100%;
	float:left;
	resize:none;
	height:180px;
}
.sj-formleavecomment .sj-btn{padding:0 60px;}
/* =============================================
			Author Guideline Style				
============================================= */
.sj-authorguidelines{
	width:100%;
	float:left;
}
.sj-guidelineimg{
	margin:0;
	width:100%;
	float:left;
	border-radius:6px;
}
.sj-guidelineimg img{
	width:100%;
	height:auto;
	display:block;
	border-radius:6px;
}
.sj-opensuccess{
	width:100%;
	float:left;
}
.sj-opensuccess .sj-description blockquote{
	margin:0;
	width:100%;
	float:left;
	quotes:none;
	font-size:20px;
	font-weight:700;
	line-height:20px;
	font-style:italic;
	text-align:center;
	padding:5px 15px 25px;
}
.sj-sectionmanuscript{
	width:100%;
	float:left;
}
.sj-manuscritp{
	width:100%;
	float:left;
	min-height:230px;
}
.sj-manuscritp + .sj-manuscritp{padding:30px 0 0;}
.sj-manuscriptimg{
	margin:0;
	max-width:400px;
	width:100%;
	float:right;
}
.sj-manuscriptimg img{
	width:100%;
	height:auto;
	display:block;
}
.sj-manuscriptcontent{
	padding:30px;
	overflow:hidden;
}
.sj-manuscriptcontent h3{
	font-size:18px;
	font-weight:500;
	line-height:18px;
}
.sj-manuscriptcontent .sj-description p{margin:0;}
.sj-manuscritp:nth-child(even) .sj-manuscriptimg{float:left;}
/* =============================================
			404 Error Style						
============================================= */
.sj-404error,
.sj-404content{
	width:100%;
	float:left;
}
.sj-404content{text-align:center;}
.sj-404head{
	width:100%;
	float:left;
	position:relative;
	padding:45px 0 35px;
}
.sj-404head h2{
	top:0;
	left:50%;
	margin:0;
	color:#f7f7f7;
	position:absolute;
	font:400 120px/90px 'Abril Fatface',  Arial, Helvetica, sans-serif;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.sj-404head h3{
	margin:0;
	z-index:2;
	font-size:46px;
	font-weight:300;
	line-height:40px;
	position:relative;
}
.sj-404content .sj-description{padding:0 0 50px;}
.sj-404content .sj-description p{
	margin:0;
	font-size:16px;
	line-height:26px;
}
.sj-gobackhome{
	display:block;
	font-size:16px;
	line-height:16px;
}
.sj-gobackhome a{color:#5e9cea;}
/* =============================================
			Coming Soon Style					
============================================= */
.sj-comingsoonpage{
	background:
		rgb(122,174,238);
	background:
		-moz-radial-gradient(center, ellipse cover,
		rgba(122,174,238,1) 0%,
		rgba(94,156,234,1) 100%);
	background:
		-webkit-radial-gradient(center, ellipse cover,
		rgba(122,174,238,1) 0%,
		rgba(94,156,234,1) 100%);
	background:
		radial-gradient(ellipse at center,
		rgba(122,174,238,1) 0%,
		rgba(94,156,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aaeee', endColorstr='#5e9cea',GradientType=1 );
}
.sj-comingsoon,
.sj-comingsoonhead{
	width:100%;
	float:left;
}
.sj-comingsoonhead{padding:50px;}
.sj-comingsoonhead .sj-logo{
	padding:0;
	float:left;
}
.sj-comingsoonhead .sj-socialiconssimple{
	width:auto;
	float:right;
}
.sj-comingsoonhead .sj-socialiconssimple li:last-child{padding-right:0;}
.sj-comingsoonhead .sj-socialiconssimple li a,
.sj-comingsoonhead .sj-socialiconssimple li a i{color:#fff;}
.sj-comingsoonhead .sj-socialiconssimple li.sj-rss a i{font-family:'FontAwesome';}
.sj-comingsooncontent{
	width:100%;
	float:left;
}
.sj-comingsooncounter{
	clear:both;
	margin:0 -15px;
	overflow:hidden;
}
.sj-counterholder{
	width:25%;
	float:left;
	padding:0 15px;
}
.sj-eventcounter{
	width:100%;
	float:left;
	padding:0 15px;
	min-height:170px;
	text-align:center;
	border-radius:6px;
	background:rgba(255, 255, 255, 0.20);
	text-align:center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
			align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-justify-content: center;
			justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
			flex-direction: column;
}
.sj-eventcounter span:first-child{
	color:#fff;
	display:block;
	font-size:60px;
	font-weight:500;
	padding:0 0 20px;
	line-height:50px;
}
.sj-eventcounter span:last-child{
	color:#fff;
	display:block;
	font-size:20px;
	font-weight:500;
	line-height:20px;
}
.sj-comingsooninfo{
	width:100%;
	float:left;
	text-align:center;
	padding:44px 0 50px;
}
.sj-comingsooninfo h3{
	color:#fff;
	font-size:52px;
	margin:0 0 40px;
	font-weight:700;
	line-height:45px;
}
.sj-comingsooninfo .sj-description p{
	margin:0;
	color:#fff;
	font-size:18px;
	font-weight:500;
	line-height:28px;
}
.sj-comingsooninfo .sj-description p span{display:block;}
.sj-comingsooninfo .sj-btn{
	color:#636c77;
	padding:0 45px;
	margin:31px 0 0;
	background:#fff;
}
.sj-comingsooninfo .sj-btn:before{background:#fff;}
.sj-comingsooninfo .sj-btn:hover:before{background:#fff;}
.sj-comingsoonimg{
	width:100%;
	float:left;
	margin:0 0 30px;
}
.sj-comingsoonimg img{
	width:auto;
	height:auto;
	display:block;
	margin:0 auto;
}
.sj-comingsoonbottom{
	width:100%;
	float:left;
	padding:17px 0;
	border-top:1px solid rgba(255, 255, 255, 0.50);
}
.sj-btnemail{
	float:left;
	color:#fff;
	font-size:14px;
	line-height:14px;
}
.sj-btnemail i,
.sj-btnemail span{
	display:inline-block;
	vertical-align:middle;
}
.sj-btnemail i{margin:0 10px 0 0;}
.sj-comingsoonbottom .sj-copyrights{
	width:auto;
	color:#fff;
	float:right;
	font-size:14px;
	font-weight:500;
	line-height:14px;
}
.sj-comingsoonbottom .sj-copyrights span{
	color:#fff;
	font-weight:400;
}
/* =============================================
			Login Register Style				
============================================= */
.sj-widgetlogin .sj-widgetcontent{padding:0 10px;}
.sj-formlogin .sj-forgotpass .sj-checkbox{
	width:auto;
	line-height:normal;
}
.sj-formlogin .sj-forgotpass .sj-checkbox label:before{
	top:2px;
	color:#ddd;
}
.sj-formlogin .sj-forgotpass .sj-checkbox input[type=checkbox]:checked + label:before{color:#636c77;}
.sj-forgorpass{
	float:right;
	font-size:14px;
	line-height:17px;
}
.sj-formlogin .sj-btnarea{padding:0;}
.sj-formlogin .sj-btnarea .sj-btn{padding:0 60px;}
.sj-widgetsinginwith ul{margin:-5px 0;}
.sj-widgetsinginwith ul li{padding:5px 0;}
.sj-widgetsinginwith ul li a{
	display:block;
	overflow:hidden;
	border-radius:6px;
	position:relative;
	background:#fcfcfc;
	padding:18px 20px 18px 70px;
}
.sj-widgetsinginwith ul li a i{
	top:0;
	left:0;
	width:50px;
	color:#fff;
	height:100%;
	font-size:14px;
	line-height:50px;
	text-align:center;
	position:absolute;
}
.sj-widgetsinginwith ul li a span{
	float: left;
	font-size:14px;
	line-height:14px;
}
.sj-widgetsinginwith ul li a span em{
	font-weight:500;
	margin:0 0 0 5px;
	font-style:normal;
}
.sj-widgetsinginwith ul li.sj-logingoogle a i{background:#dd4b39;}
.sj-widgetsinginwith ul li.sj-loginfb a i{background:#3b5999;}
.sj-widgetsinginwith ul li.sj-loginlinkdin a i{background:#0077B5;}
.sj-widgetsinginwith ul li.sj-logintwitter a i{background:#55acee;}
.sj-widgetsinginwith ul li.sj-logingoogle:hover a span{color:#dd4b39;}
.sj-widgetsinginwith ul li.sj-loginfb:hover a span{color:#3b5999;}
.sj-widgetsinginwith ul li.sj-loginlinkdin:hover a span{color:#0077B5;}
.sj-widgetsinginwith ul li.sj-logintwitter:hover a span{color:#55acee;}
.sj-registerarea{
	width:100%;
	float:left;
}
.sj-registerimg{
	width:100%;
	float:left;
	margin:0 0 30px;
}
.sj-registerimg img{
	opacity: 0;
	width: 100%;
	min-height: 380px;
	visibility: hidden;
}
.sj-registerimg iframe{
	top:0;
	left:0;
	z-index:2;
	width:100%;
	height:100%;
	position:absolute;
}
.sj-registerformholder{
	width:100%;
	float:left;
}
.sj-registerformholder .sj-btnarea{padding:0;}
.sj-howtoregister{
	width:100%;
	float:left;
}
.sj-howtoregister h3{
	font-size:14px;
	margin:0 0 20px;
	font-weight:500;
	line-height:21px;
}
.sj-liststyle{
	width:100%;
	float:left;
	font-size:14px;
	list-style:none;
	line-height:14px;
}
.sj-liststyle li{
	width:100%;
	float:left;
	position:relative;
	line-height:inherit;
	list-style-type:none;
	padding:5px 0 5px 15px;
}
.sj-liststyle li span{
	display:block;
	line-height:inherit;
}
.sj-liststyle li:before{
	left:0;
	top:50%;
	width:4px;
	height:4px;
	content:'';
	margin:-2px 0 0;
	border-radius:50%;
	position:absolute;
	background:#636c77;
}
/* =============================================
			Issues Years Style					
============================================= */
.sj-accordion,
.sj-issuesyears{
	width:100%;
	float:left;
}
.sj-issuesyears{padding:30px 0 0;}
.sj-panel{
	width:100%;
	float:left;
}
.sj-panel + .sj-panel{margin:10px 0 0;}
.sj-panel h4{
	margin:0;
	width:100%;
	float:left;
	padding:0 20px;
	font-size:18px;
	cursor:pointer;
	font-weight:500;
	line-height:44px;
	border-radius:6px;
	background:#fcfcfc;
	border:1px solid transparent;
}
.sj-panel h4.active,
.sj-panel h4:hover{
	border-color:#ddd;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.sj-panel h4 i{
	float:right;
	font-weight:400;
	line-height:44px;
	font-family:'FontAwesome';
}
.sj-panel h4.active i:before,
.sj-panel h4:hover i:before{content:'\f106';}
.sj-panelcontent{
	width:100%;
	float:left;
	padding:10px;
	background:#f7f7f7;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
}
.sj-recordholder{
	clear:both;
	margin:-5px;
	overflow:hidden;
}
.sj-btnrecord{
	margin:5px;
	float:left;
	width:96px;
	color:#636c77;
	display:block;
	padding:0 20px;
	font-size:16px;
	font-weight:500;
	background:#fff;
	line-height:34px;
	border-radius:6px;
	border:1px solid #ddd;
}
.sj-btnrecord i{
	float:right;
	color:#636c77;
	font-weight:400;
	line-height:inherit;
	font-family:'FontAwesome';
}
.sj-btnrecord span{
	float:left;
	color:#636c77;
	line-height:inherit;
}
.sj-btnrecord:hover i,
.sj-btnrecord:hover span{color:#fff;}
.sj-formissuevol .form-group{
	margin:0;
	width:50%;
	padding:0 5px;
}
.sj-widgetvolissue .sj-widgetcontent{padding:10px 5px 0;}
.sj-formsearchbydate .sj-inputwithicon {margin:0;}
.sj-formsearchbydate .sj-inputwithicon i{font-family:'FontAwesome';}
.sj-formsearchbydate .sj-inputwithicon .form-control{text-transform:capitalize;}
.sj-formsearchbydate .sj-inputwithicon .form-control::-webkit-inner-spin-button,
.sj-formsearchbydate .sj-inputwithicon .form-control::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}
.sj-widgetcontent ul li em{
	float:right;
	font-style:normal;
}
/* =============================================
			Issues Weeks Style					
============================================= */
.sj-issuesweeks{
	width:100%;
	float:left;
	padding:30px 0 0;
}
.sj-issuesweeks .sj-panel .sj-btnrecord{width:122px;}
/* =============================================
			SearchStyle
============================================= */
.sj-searcharea {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
}

.sj-searcharea.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
	opacity: 1;
}
.sj-searcharea input[type="search"] {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 100px;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0);
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	border: 0px;
	margin: 0px auto;
	margin-top: -51px;
	padding-left: 30px;
	padding-right: 30px;
	outline: none;
}
.sj-searcharea .sj-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 61px;
	margin-left: -45px;
}
.sj-searcharea .close {
	position: fixed;
	top: 15px;
	right: 15px;
	color: #fff;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}
.sj-loginupdates{position: relative;}
.sj-loginupdates:before{
	top: 0;
	left: 445px;
	width: 1px;
	content: '';
	height: 100%;
	background:#ddd;
	position: absolute;
}
.sj-profilestrenght{
	float: left;
	width: 100%;
    border-radius: 4px;
	-webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.15);
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.15);
}
.sj-headerhold{
	float: left;
	width: 100%;
	padding:30px;
}
.sj-dashboardboxtitle{
	float: left;
	width: 100%;
}
.sj-dashboardboxtitle h2{
	color: #222;
	font-size: 20px;
	line-height: 18px;
}
.sj-dashboardboxtitle span{
	display: block;
	font-size: 14px;
	line-height:20px;
}
.sj-ourskill{
	width: 100%;
	float:left;
	margin-top: 15px;
}
.sj-skill{
	width:100%;
	float:left;
}
.sj-skill:hover{ cursor:pointer;}
.sj-skillname .sj-skillbar span{
	position:absolute;
	top:0;
	right:0;
}
.sj-skillbar {
    height: 6px;
    float: left;
    transition: none;
    position: relative;
    border-radius: 3px;
    background: rgb(255,211,165);
    background: -moz-linear-gradient(left,
 rgba(255,211,165,1) 0%,
 rgba(253,101,133,1) 100%);
    background: -webkit-linear-gradient(left,
 rgba(255,211,165,1) 0%,
 rgba(253,101,133,1) 100%);
    background: linear-gradient(to right,
 rgba(255,211,165,1) 0%,
 rgba(253,101,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd3a5', endColorstr='#fd6585',GradientType=1 );
}
.sj-skillholder{
	float: left;
	width: 100%;
	background: #f7f7f7;
}
.sj-strenghtcomplete{
	width:100%;
	float:left;
	color:#767676;
	margin-top:10px; 
	font-size:12px;
	line-height:12px;
}
.sj-profilecomplete{
	width:100%;
	float:left;
	list-style:none;
	font:400 14px/18px 'Quicksand', Arial, Helvetica, sans-serif;
}
.sj-profilecomplete li{
	width:100%;
	float:left;
	padding:15px 20px;
	line-height:inherit;
	list-style-type:none;
	border:1px solid #eff2f5;
}
.sj-profilecomplete li + li{border-top:0;}
.sj-profilecomplete li i,
.sj-profilecomplete li span{
	display:inline-block;
	vertical-align:middle;
}
.sj-profilecomplete li i{margin:0 12px 0 0;}
.sj-profilecomplete li.sj-profileerror{background:#fcfcfc;}
.sj-profilecomplete li.sj-profileerror span{color:#222;}
.sj-profilecomplete li.sj-profileerror i{color:#fc413c;}
.sj-profilecomplete li.sj-profilecompleted i{color: #00cc67;}
.sj-submitdetails{
	float: left;
	width: 100%;
	padding:30px 40px; 
}
.sj-submitdetails span{
	display: block;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}
.sj-submitdetails span a{
	display: block;
}
.sj-submitdetails a.sj-btn{
	width: 100%;
	margin-top:10px; 
}

.sj-addarticleholdcontent{
	border:1px solid #eff2f5;
	-webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.15);
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.15);
}
.sj-addarticleholdcontent .sj-dashboardboxtitle{
	padding:15px 30px;
	background: #fcfcfc;
	border-bottom: 2px solid #eff2f5;
}
.sj-addarticleholdcontent .sj-dashboardboxtitle h2{margin:0;}
.sj-addarticlehold{
	float: left;
	width: 100%;
	padding:30px; 
}
.sj-formarticle fieldset{
	margin:-5px;
	width: auto;
	float: none; 
}
.sj-formarticle fieldset .form-group{
	margin:0;
	padding:5px;
}
.sj-formarticle fieldset .form-group input.form-control,
.sj-formarticle fieldset .form-group .sj-select select{height: 40px;}
.sj-formarticle fieldset .form-group .sj-select select{cursor: pointer;}
.sj-formarticle fieldset .form-group.sj-authorhold{width: 40%;}
.sj-formarticle fieldset .form-group.sj-authorholdvtwo{
	width: 60%;
	position: relative;
	padding-right:55px; 
}
.sj-adddelbtns{
	top: 50%;
	right: 0;
	margin:-20px 4px 0 0; 
	position: absolute;
}
.sj-adddelbtns .sj-addbtn{float: right;}
.sj-addbtn{
	width: 40px;
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	background: #26de81;
}
.sj-addbtn:hover,
.sj-addbtn:focus{color: #fff;}
.sj-delbtn{background: #e84c3d;}
.sj-delbtn i:before{content: "\f1f8";}
.sj-formarticle fieldset .form-group textarea{
	width: 100%;
	float: left;
	resize: none;
	height: 250px;
}
.sj-formaddproject{margin-top: 30px;}
.sj-inputtyfile{
	width:100%;
	float:left;
	margin: 0 0 27px;
}
.sj-inputtyfile .sj-title h3{
	font-size:16px;
	margin: 0 0 6px;
	line-height:16px;
}
.sj-inputtyfile:last-child{margin:0;}
.sj-inputtyfile label input[type=file]{display:none;}
.sj-inputtyfile label{
	margin: 0;
	width:100%;
	float:left;
	cursor:pointer;
	padding:0 20px;
	min-height:39px;
	background: #fff;
	border-radius:3px;
	border:1px solid #d0d1d1;
}
.sj-uploadimgvtwo{
	float: left;
	width: 100%;
}
.sj-inputtyfile span{
	color:#999;
	float: left;
	width: auto;
	font-size: 13px;
	line-height: 37px;
}
.sj-inputtyfile label i{
	font-size:14px;
	line-height:30px;
}
.sj-inputtyfile span + span{float: right;}
.sj-filedetails{
	float: left;
	width: 100%;
	padding: 9px 10px 0;
}
.sj-filedetails span,
.sj-filedetails em{
	color:#999;
	font-size: 12px;
	line-height: 12px;
	font-style:italic;
	display: inline-block;
	vertical-align: middle;
}
.sj-filedetails span{
	position: relative;
	padding:0 16px 0 0;
}
.sj-filedetails span:before{
	top:0;
	right:0;
	color:#55acee;
	content: '\f06a';
	font-style: normal;
	position: absolute;
	font-family: 'fontAwesome';
}
.sj-filedetails em{float: right;}
.sj-uploading label span:first-child{color:#324b6e;}
.sj-uploading label span i{color:#ca5e58;}
.sj-uploading .sj-filedetails em{color:#00cc67;}
.sj-uploading .sj-filedetails em{position: relative;}
.sj-uploading .sj-filedetails em:before{
	top:0;
	left:-18px;
	color:#00cc67;
	content: '\f00c';
	font-style: normal;
	position: absolute;
	font-family: 'fontAwesome';
}
.sj-additional{
	float: left;
	width: 50%;
	padding:0 0 0 15px;
}
/* =============================================
			User Navbar Style				
============================================= */
.sj-usernav{
	right:0;
	opacity:0;
	top:140px;
	z-index:9;
	width:220px;
	visibility:hidden;
	position:absolute;
	border-radius:5px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.10)
}
.sj-userlogedin:hover .sj-usernav{
	top:80px;
	opacity:1;
	visibility:visible;
}
.sj-usernav:before{
	width:0;
	top:-5px;
	height:0;
	right:30px;
	content:'';
	position:absolute;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 5px solid #fff;
}
.sj-usernav ul{
	width:100%;
	float:left;
	font-size:12px;
	list-style:none;
	line-height:13px;
	border-radius:5px;
	background:#fff;
}
.sj-usernav ul li{
	width:100%;
	float:left;
	position:relative;
	line-height:inherit;
	list-style-type:none;
}
.sj-usernav ul li:nth-child(even) a{background:#fcfcfc;}
.sj-usernav > ul > li + li{
	border-top: 1px solid #ddd;
}
.sj-usernav ul li a{
	color:#919191;
	display:block;
	padding:13px 20px;
	line-height:inherit;
	position: relative;
}
.sj-usernav ul li a:before{
	top:0;
	left:0;
	height: 0;
	content: '';
	width: 2px;
	position: absolute;
}
.sj-usernav ul li a:hover:before{height: 100%;}
.sj-usernav ul li a i{
	float:left;
	width:30px;
	color:#919191;
	font-size:15px;
	line-height:15px;
}
.sj-usernav ul li a span{
	line-height:inherit;
	display:inline-block;
	vertical-align:middle;
}
.sj-usernav ul li .sub-menu{
	border:0;
	left:100%;
	border-radius:0 5px 5px 0;
}
.sj-usernav ul li:hover .sub-menu{
	top:0;
	opacity:1;
	display: block;
	visibility:visible;
}
.sj-usernav ul li .sub-menu li a{border-radius:0 5px 5px 0;}
.sj-usernav ul li .sub-menu li:hover{background:none;}
.sj-userloginarea:hover .sj-usernav{
	top:100%;
	opacity:1;
	visibility:visible;
}
/* =============================================
			Chosen Style				
============================================= */
.sj-categorydetails .sj-select{
	border:1px solid #ddd;
	line-height: 41px;
	border-radius: 3px;
}
.chosen-container-multi .chosen-choices{
	border:0;
	background: none;
	box-shadow: none;
	padding: 0 25px 0 20px;
}
.chosen-container-multi .chosen-choices li.search-choice{
	padding: 0;
	cursor: pointer;
	margin: 5px 5px 5px 0;
	background: #f1f6f9;
	border: 1px solid #d0d1d1 !important;
}
.chosen-container-multi .chosen-choices li.search-choice:hover{
	background: #fff1f0;
	border-color: #ca5e58 !important;
}
.chosen-container-multi .chosen-choices li.search-choice span{
	color: #324b6e;
	display: block;
	font-size: 11px;
	line-height: 28px;
	border-radius: 5px;
	position: relative;
	padding: 0 25px 0 10px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after{
	left: 0;
	top: 50%;
	display: block;
	font-size: 11px;
	content: '\f00d';
	margin: -3px 0 0;
	line-height: 11px;
	position: absolute;
	width: 100% !important;
	font-family: 'FontAwesome';
	text-align: center !important;
	line-height: 14px !important;
}
.chosen-container.chosen-with-drop .chosen-drop{
	border:0;
	border-top: 1px solid #ddd;
}
/* ==========================================================
			Assign Category Style				
========================================================== */
.sj-assignuserimg{
	margin: 0;
	float: left;
	width: 50px;
	height: 50px;
	margin-right:10px; 
	border-radius: 5px;
}
.sj-assignuserimg img{
	width: 100%;
	display: block;
	border-radius: 5px;
}
.sj-allcategorysvtwo li .sj-title{padding:4px 0;}
.sj-allcategorysvtwo li .sj-title h3 span{
	display: block;
	margin-top:5px; 
	line-height: 18px !important;
}
.sj-userdropdown{
	margin: 0;
	float:left;
	list-style:none;
}
.sj-userdropdown li{
	float:left;
	padding:0 20px;
	min-height:35px;
	position:relative;
	list-style-type:none;
}
.sj-userdropdown > li{
	border-radius:3px;	
	padding: 0;
	border:1px solid #eff2f5;
}
.sj-userdropdown > li:first-child{
	padding:0;
	border-radius:5px; 
	border:1px solid #ddd !important;
}
.sj-userdropdown > li + li{border-right:1px solid #eff2f5;}
.sj-userdropdown li a{
	color:#999;
	display:block;
	font-size:12px;
	line-height:13px;
	position:relative;
	padding:18px 21px;
	text-align: left;
}
.sj-userdropdown > li{
	min-height: 39px;
}
.sj-userdropdown li:first-child a{
	margin: 0;
	color:#324b6e;
	padding:0 20px;
	line-height: 38px;
}
.sj-userdropdown li:first-child a span{margin: 0 7px 0 0;}
.sj-userdropdown li .sj-userdropdownbtn i{
	font-size:14px;
	line-height:14px;
}
.sj-userdropdown li a i{
	font-size:20px;
	line-height:20px;
}
.sj-userdropdownmanu{
	top: 52px;
	right:0px;
	margin: 0;
	float:left;
	z-index:5;
	width: 168px;
	display:none;
	font-size:13px;
	background:#fff;
	line-height:14px;
	position:absolute;
	border-radius:3px;
	border: 1px solid #ddd;
	text-transform:uppercase;
}
.sj-userdropdownmanu:before{
	top: -7px;
	right: 30px;
	content: '';
	height: 7px;
	width: 12px;
	display: block;
	position: absolute;
	background: url(../images/users-img/img-01.png);
}
.sj-userdropdownmanu li{
	width:100%;
	padding: 0;
	float:left;
	text-align:center;
}
.sj-userdropdownmanu li:hover{background:#fcfcfc;}
.sj-userdropdownmanu li + li{border-top:1px solid #ddd;}
.sj-userdropdownmanu li a{
	display:block;
	line-height: 35px;
}
.sj-userdropdownmanu li a span{
	display: block;
	position: relative;
}
.sj-userdropdownmanu li:hover{background: #f6fffb;}
.sj-userdropdownmanu .sj-checkbox input[type=checkbox] + label{
	padding:0;
	color:#999;
	font-size: 12px;
	text-align: left;
	line-height: 35px;
	font-weight: 400; 
	position: relative;
	padding:0 30px 0 10px; 
}
.sj-userdropdownmanu .sj-checkbox input[type=checkbox] + label span{
	text-align: left;
	display: block;
}
.sj-userdropdownmanu .sj-checkbox input[type=checkbox] + label:before{display: none;}
.sj-userdropdownmanu .sj-checkbox input[type=checkbox] + label:after{
	top: 50%;
	right: 5px;
	opacity: 0;
	width: 20px;
	height: 20px;
	color: #00cc67;
	content: '\f00c';
	font-size: 13px;
	margin: -10px 0 0;
	line-height: 20px;
	position: absolute;
	text-align: center;
	visibility: hidden;
	font-family: 'FontAwesome';
}
.sj-userdropdownmanu .sj-checkbox input[type=checkbox]:checked + label:after{
    opacity: 1;
    visibility: visible;
}
.sj-userdropdown .sj-checkbtnbox{
	padding:0;
	border: 0;
	margin: 0 0 0 10px;
}
.sj-userdropdown .sj-checkbtn{
	padding:0;
	margin: 0;
	float: left;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background:#00cc67;
	border-radius: 5px;
}
.sj-userdropdown .sj-checkbtn i{
	color:#fff;
	font-size: 16px;
	line-height: inherit;
}
.sj-addremove{
	width: auto;
	float: right;
	padding:11px 0; 
	margin-left:10px; 
}
.sj-allcategorysvtwo > li.sj-deleteuser .sj-title{margin: 0 !important; }
.sj-allcategorys.sj-allcategorysvtwo > li.sj-deleteuser .sj-deletenotifications{padding:6px 0; }
.sj-allcategorys.sj-allcategorysvtwo > li.sj-deleteuser,
.sj-allcategorys.sj-allcategorysvtwo > li{padding:15px 20px; }
/* =============================================
			Checkout Style				
============================================= */
.sj-checkoutjournal{
	width: 100%;
	float: left;
	margin: 0 0 30px;
	padding: 0 0 30px;
	border-bottom: 1px solid #eee;
}
.sj-title{
	float: left;
	width: 100%;
}
.sj-checkoutjournal .sj-title h3{
	margin: 0;
	font-size: 24px;
	line-height: 26px;
	display: inline-block;
	vertical-align: middle;
}
.sj-checkoutjournal .sj-title{
	margin: 0 0 30px;
}
.sj-checkouttable{
	border: 1px solid #eee;
	border-collapse: collapse;
	margin: 0;
}
.sj-checkouttable thead:first-child > tr:first-child > th {
    font-size: 18px;
    text-align: left;
    line-height: 18px;
    border: 1px solid #eee;
    padding: 15px 30px;
}
.sj-checkouttable > tbody > tr > td {
	border-top: 1px solid #eee !important;
    border: 0;
    color: #222222;
    font-size: 16px;
    padding: 20px;
    vertical-align: middle;
    line-height: 19px;
    text-align: left;
}
.sj-checkouttable > tbody > tr:first-child > td:first-child{padding: 20px 0 20px 20px; }
.sj-checkouttable > tbody > tr > td:first-child {
    width: 75%;
    padding: 20px 0 20px 100px;
}
.sj-checkouttable > tbody > tr > td:last-child{width: 25%}
.sj-producttitle {
    width: 100%;
    float: left;
}
.sj-producttitle figure{
	width: 62px;
	margin: 0 20px 0 0;
	float: left;
}
.sj-producttitle figure img{
	width: 100%;
	float: left;
	display: block;
	border-radius: 5px;
}
.sj-producttitle .sj-checkpaydetails{
  	width: 75%;
    float: none;
    text-align: left;
    overflow: hidden
}
.sj-producttitle .sj-checkpaydetails span {
    color: #767676;
    font-size: 13px;
    display: block;
    margin: 13px 0;
    line-height: 13px;
}
.sj-producttitle .sj-checkpaydetails h4{
	color: #222222;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
}
.sj-checkouttable  tbody  tr  td:last-child{
    color: #222222;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    border-left: 1px solid #eee;
}
.sj-checkouttable thead{
    background: #fcfcfc;
}
.sj-checkouttable tbody tr:nth-child(2),.sj-checkouttable tbody tr:nth-child(3){
	background: #fcfcfc;
}
.sj-checkpaymentmethod{
	float: left;
	width: 100%;
}
.sj-checkpaymentmethod .sj-title h3{
	margin: 0;
	padding:4px 0; 
	font-size: 24px;
	line-height: 26px;
	display: inline-block;
	vertical-align: middle
}
.sj-checkpaymentmethod .sj-rightarea figure{margin: 0;}
.sj-paymentmethod{
	list-style:none; 
	margin: 0 -15px 0;
}
.sj-paymentmethod li{
	width: 50%;
	float: left;
	padding:0 15px; 
	list-style-type: none;
}
.sj-paymentmethod li a{
	display: block;
	padding: 10px;
	position: relative;
	border: 1px solid #eee;
}
.sj-paymentmethod li a:after{
	top: 50%;
	right: 20px;
	color: #636c77;
	font-size: 16px;
	content: '\f105';
	margin: -6px 0 0;
	line-height: 12px;
	position: absolute;
	font-family: 'FontAwesome';
}
.sj-paymentmethod li a i{
	width: 70px;
    height: 48px;
	font-size: 30px;
	text-align: center;
    line-height: 48px;
	display: inline-block;
	vertical-align: middle;
    border-right: 1px solid #eee;
}
.sj-paymentmethod li a span{
	color: #222;
	font-size: 16px;
	line-height: 24px;
	padding-left:30px; 
	display: inline-block;
	vertical-align: middle;
}
.sj-paymentmethod li a span em{
	display: block;
	color: #767676;
	font-size: 13px;
	font-style:normal;
}
.sj-checkpaymentmethod .sj-title{margin-bottom:30px; }
/*==============================================
			Preloader Style						
==============================================*/
.preloader-outer {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	background: #fff;
}
.loader {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	width: 250px;
	margin: auto;
	position: absolute;
}
.loader--dot {
	animation-name: loader;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background-color: black;
	position: absolute;
	border: 2px solid white;
}
.loader--dot:first-child {
	background-color: #2eca80;
	animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
	background-color: #0ca5e1;
	animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
	background-color: #16a0de;
	animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
	background-color: #7751e5;
	animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
	background-color: #60beeb;
	animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
	background-color: #fbef5a;
	animation-delay: 0s;
}
.loader--text {
	position: absolute;
	top: 200%;
	left: 0;
	right: 0;
	width: 4rem;
	margin: auto;
}
.loader--text:after {
	content: "Loading";
	font-weight: bold;
	animation-name: loading-text;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes loader {
	15% {
		transform: translateX(0);
	}
	45% {
		transform: translateX(230px);
	}
	65% {
		transform: translateX(230px);
	}
	95% {
		transform: translateX(0);
	}
}
@keyframes loading-text {
	0% {
		content: "Loading";
	}
	25% {
		content: "Loading.";
	}
	50% {
		content: "Loading..";
	}
	75% {
		content: "Loading...";
	}