{% extends 'editor/main.html' %}


{% block custom_css %}
<style>
.attendance_div_red{
    padding: 10px;
    padding-top: 20px;
    background: #f44336;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.attendance_div_green{
    padding: 10px;
    padding-top: 20px;
    background: #4CAF50;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
{% endblock custom_css %}

{% block page_title %}

{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> График {{ subject_obj.subject_name }}</h3>
                    </div>
                    <!-- /.card-header -->
     
                    <div class="card-body">
                        <div class="row">
                        
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                  <div class="inner">
                                    <h3 style="text-align: center;">{{ all_users_count }}</h3>
                  
                                    <p>СИСТЕМИЙН ХЭРЭГЛЭГЧИД</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                  </div>
                                  <a href="{% url 'manage_user' %}" class="small-box-footer">More info  <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-warning">
                                  <div class="inner">
                                    <h3 style="text-align: center;">{{ all_review_count }}</h3>
                  
                                    <p>НИЙТ ШҮҮМЖЛЭГЧ</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                  </div>
                                  <a href="{% url 'manager_review' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-danger">
                                  <div class="inner">
                                    <h3 style="text-align: center;">{{ all_paper_count }}</h3>
                  
                                    <p>НИЙТ ИРСЭН ӨГҮҮЛЛҮҮД</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                  </div>
                                  <a href="{% url 'manage_article' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                        </div>
                        
                    </div>

                    </div>

                    </form>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}