{% extends 'editor/main.html' %}

{% block page_title %}
    Manage Staff
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">

            <a class="btn btn-primary" href="" role="button">+ Шүүмжлэгч Нэмэх</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                
<div class="container-fluid">
    <div class="row" >
    
    <div class="col-sm-1" style="color: red">
    </div>
    
    
    <div class="col-sm-10">
                    <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table text-primary"></i>
                        Recent Added Books
                    </div>
                    <div class="card-body">
    
                 {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                <div class="card mb-3">
    
                    <div class="card-body">
                        <div class="table-responsive">
    <!-- Table --->
    
    
                         
                             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Paper ID</th>
                                    <th>Өгүүллийн нэр</th>
                                    <th>Түлхүүр үгс</th>
                                    <th>Өгүүллийн хураангуй</th>
                                    <th>Docx файл</th>
                                    <th>Pdf файл</th> 
                                    <th>Pdf файл</th> 
                                    <th>Онгоо</th>
                                </tr>
                                </thead>
                                <tbody>
    
    
                                  {% if papers %}
                                    {% for  paper in papers %}
                                    <tr>
                                      
                                      <!-- <td>
                                        {% if book.cover %}
                                        <img src="{{ paper.cover.url }}" alt="{{ book.title }}" style="width:100px; height: 100px">
                                        {% else %}
                                        <span class="text-muted">No cover</span>
                                        {% endif %}
                                       </td> -->
    
                                       <td>{{ paper.id }}</td>
                                      <td>{{ paper.p_name }}</td>
                                      <td>{{ paper.p_key }}</td>
                                      <td>{{ paper.p_title }}</td>

                                        <td>
                                        {% if paper.pdf_file %}
                                          <a href="{{ paper.pdf_file.url }}" class="btn btn-outline-primary" target="_blank">
                                        PDF үзэх</a>
                                        {% else %}
                                        <span class="text-muted">No PDF</span>
                                       {% endif %}
                                      </td>
                                        <td>
                                        {% if paper.pdf_file %}
                                          <a href="{{ paper.pdf_file.url }}" download class="btn btn-outline-success">
                                            PDF татах
                                          </a>
                                            {% else %}
                                       <span class="text-muted">No PDF</span>
                                       {% endif %}
                                      </td>
                                      <td>
                                        {% if paper.word_file %}
                                          <a href="{{ paper.word_file.url }}" download class="btn btn-outline-success">
                                        Docx татах</a>
                                        {% else %}
                                       <span class="text-muted">No PDF</span>
                                       {% endif %}
                                      </td>
                                      <td>{{paper.created_at}}</td>
                                      
                                    </tr>
    
                                    <!-- end for and if -->
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
    
    
                              {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    
    
                        </div>
                    </div>
                </div>
            </div>
    
        </div>  
    </div>
    
    
    
    <div class="col-sm-1">
    </div>
    
    
    </div>
    
        <script type="text/javascript" src="{% static 'bookstore/js/jquery-2.1.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bookstore/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bookstore/js/jquery.dataTables.js' %}"></script>
        <script type="text/javascript" src="{% static 'bookstore/js/main.js' %}"></script>
    </body>
    
    </html>
      </section>

  {% endblock main_content %}