{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="" class="brand-link">
        <img src="{% static 'images/logo.png' %}" alt="AdminLTE Logo" class="brand-image  elevation-3"
            style="opacity: .9">
        <span class="brand-text font-weight-light">...</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="" class="d-block">{{user.username}}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            
            <li class="nav-item">
              {% url 'editordashboard' as editordashboard %}
              <a href="{{ editordashboard }}" class="nav-link {% if request.path == editordashboard %} active {% endif %}">
                <i class="nav-icon fas fa-home"></i>
                <p>
                  Нүүр хуудас
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'manager_review' as manager_review %}
              <a href="{{ manager_review }}" class="nav-link {% if request.path == manager_review %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Шүүмжлэгч удирдах
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'manage_user' as manage_user %}
              <a href="{{ manage_user }}" class="nav-link {% if request.path == manage_user %} active {% endif %}">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Системийн хэрэглэгчид
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'send_to' as send_to %}
              <a href="{{ send_to }}" class="nav-link {% if request.path == send_to %} active {% endif %}">
                <i class="nav-icon fa fa-paper-plane"></i>
                <p>
                  Хүсэлт илгээх
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'manage_article' as manage_article %}
              <a href="{{ manage_article }}" class="nav-link {% if request.path == manage_article %} active {% endif %}">
                <i class="nav-icon fas fa-book"></i>
                <p>
                  Өгүүллүүд
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>


          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>