{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class="container">
	<div class="row">
		<div id="sj-twocolumns" class="sj-twocolumns">
			<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-right">
				<div id="sj-content" class="sj-content sj-addarticleholdcontent">
					<div class="sj-dashboardboxtitle">
						<h2>Мэдээлэл</h2>
					</div>
					<div class="sj-addarticlehold">
						<form class="sj-formtheme sj-formarticle" method="POST">
							<fieldset>
								<div class="form-group form-primary">
									<div class="tags_add">
									<a href=""> Шинээр ирсэн өгүүллүүд (1) </a>
								</div>
								<div class="form-group form-primary">
									<div class="tags_add">
									<a href=""> Хянагдаж байгаа өгүүллүүд ( )</a>
								</div>
                                <div class="form-group form-primary">
									<div class="tags_add">
									<a href=""> Хянагдаж дууссан өгүүллүүд ( )</a>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 float-left">
				<aside id="sj-sidebarvtwo" class="sj-sidebar">
					<div class="sj-profilestrenght">
						<div class="sj-headerhold">
							<div class="sj-dashboardboxtitle">
								<a href="">My Review History</a>

							</div>
						</div>
						
						
					</div>
				</aside>
			</div>
		</div>
	</div>
</div>
{% endblock %}