{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class="container">
	<div class="row">
		<div class="car-body">
		<div id="sj-twocolumns" class="sj-twocolumns">
			<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 float-right">
				<div id="sj-content" class="sj-content">
					<div class="sj-addarticleholdcontent">
						<div class="sj-dashboardboxtitle">
							<br>
							<h2>Холбоо барих </h2>
						</div>

						<form class="sj-formtheme sj-formaddtemplates">
							<fieldset>
								<div class="form-group">
									<input type="text" name="title" class="form-control" placeholder="Овог нэр ">
								</div>
								<div class="form-group">
									<input type="text" name="title" class="form-control" placeholder="Майл хаяг ">
								</div>
								<div class="form-group">
								<textarea class="form-control max-textarea" rows="10" cols="5" placeholder=""></textarea>
								</div>													
								<div class="form-group">
									<button class="sj-btn sj-btnactive">Илгээх</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

{% endblock %}