{% extends "main/base.html" %}
{% block content %}
{%  load  static %}
<div class="page-wrapper">
    <!-- Page-header start -->
	<h1>ӨГҮҮЛЭЛ ИЛГЭЭХИЙН ӨМНӨ</h1>
	<hr>

<div class="page-body">			
<div class="row">
	<div class="col-sm-12">	
		<div class="sub-title">					
              <div class='alert alert-warning icons-alert'>                            
                    <p><strong style="color: brown;">Зохиогч эрхээрээ нэвтэрч, өгүүллээ илгээгээрэй. Бүртгэлгүй бол шинээр бүртгүүлнэ үү.</strong></p>
                 </div>
				 {% if user.is_authenticated %}
				 <a href="{% url 'index_Article' %}" class="btn btn-info waves-effect">Өгүүлэл илгээх</a>
				 {% endif %}
	</div>	
	<br>	
<div class="row users-card">
	<div class="col-lg-7">
		<div class="card user-card">
			<div class="card-header">
				<h5>Өгүүлэл хэвлэлтэд авах ерөнхий зарчим</h5>
			</div>
			<div class="card-block">
				<img class="img-fluid" src="{% static 'images/Articlepublishingprocess.jpg' %}" width="600" height="800" alt="img-inverse">
				<div class="top-cap-text">
					<p>Тайлбар: Өгүүлэл хэвлэлтэд авах ерөнхий зарчим</p>					
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="card user-card">
			<div class="card-header">
				<h5>Өгүүллээ илгээхийн өмнө Та "Өгүүлэл илгээх зөвлөмж"-г уншина уу.</h5>
			</div>
			<div class="card-block">
				<div class="top-cap-text">
<dl>
  <dt><i class="icofont icofont-stylish-right text-danger"></i> <a href="https://drive.google.com/file/d/11Yj4gQgDDtXpV8zRjHYEcE6ODFgI6LZT/view?usp=sharing" target="_blank">
                                <span class="pcoded-micon"><i class="icofont icofont-file-powerpoint"></i></span>
                                <span class="pcoded-mtext">
Өгүүлэл илгээх зөвлөмж</span></a>ийг уншина уу</dt>
  <dt><i class="icofont icofont-stylish-right text-danger"></i> Эрдэм шинжилгээний өгүүлэл нь дор дурдсан ерөнхий шаардлага (ӨГҮҮЛЛИЙН ЗАГВАР)  хангасан байх ёстой.</dt>
	<dd><i class="icofont icofont-hand-right text-info"></i> Үг үсгийн алдаагүй, <a href="https://drive.google.com/file/d/18-lCelfeOCh0mmglnQEVWY46j4OY8Ej2/view?usp=sharing" target="_blank">
                                <span class="pcoded-micon"><i class="icofont icofont-file-powerpoint"></i></span>
                                <span class="pcoded-mtext">
эшлэл зүүлт нийцтэй.</span></a> </dd>
	<dd><i class="icofont icofont-hand-right text-info"></i> Зохиогчийн эрх болон <a href="https://www.duplichecker.com/" target="_blank">
хуулбарын зөрчилгүй.</a></dd>
	<dd><i class="icofont icofont-hand-right text-info"></i> Судалгаа авч боловсруулсан өгөгдлийн хувьд:</dd>    
	<ul>
		<li>
			<i class="icofont icofont-double-right text-success"></i> Тоо, мэдээ үнэн бодит
		</li>
		<li>
			<i class="icofont icofont-double-right text-success"></i> Боловсруулалт тооцоо, график алдаагүй
		</li>
		<li>
			<i class="icofont icofont-double-right text-success"></i> Зураг, график, өгөгдөл үнэн зөв.
		</li>
	</ul>    
</dl>				
<ul>	
	<li>
	<ul>
		<li><i class="icofont icofont-hand-right text-info"></i> Өгүүллийн дотоод бүтэц эрдэм шинжилгээний өгүүллийн шаардлага хангасан байх. Үүнд хураангуй, удиртгал, үндсэн хэсэг, дүгнэлт нь эрдэм шинжилгээний өгүүллийн хэлбэржилт, утга агуулга, илэрхийлэл, томьёоллоор бичигдсэн байна.</li>		
	</ul>
	</li>
</ul>

					
						<blockquote class="blockquote">
							<p class="text-muted m-b-15 m-t-20">Анхааруулга:
								<code>Ерөнхий шаардлагын (ӨГҮҮЛЛИЙН ЗАГВАР) аль нэг биелээгүй байвал таны өгүүллийг шүүмжлэгчид илгээх боломжгүй.</code>
								<code>Өгүүллийг илгээхийн өмнө үг үсгийн алдааг Монгол хэлний дүрмийн алдаа шалгагч программаар шалгана уу.</code>
								<code>Энэхүү веб хуудас дахь цахим болон бусад хэлбэрийн материалыг зохиогчоос нь зөвшөөрөл авч нийтэлсэн болно. Тухайн материалыг ямар нэг хэлбэрээр ашиглах болбол эх сурвалжаа заавал дурдана уу.</code>
								</p>
						</blockquote>						
					</ul>	
					
				</div>				
			</div>
		</div>
	</div>
</div>
					
				
				
			</div>
		</div>
	</div>                                                           
</div>
{% endblock %}
