{% extends "main/base.html" %}
{% block content %}
{% load static %}
	<div id="sj-wrapper" class="sj-wrapper">
		<!--************************************
				Content Wrapper Start
		*************************************-->
		<div class="sj-contentwrapper">

			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Статистик мэдээллийн</h1>
								<ol class="sj-breadcrumb">
									<li><a href="javascript:void(0);">Home</a></li>
									<li><a href="javascript:void(0);">ТАНЫ ӨГҮҮЛЛҮҮД</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->
			<!--************************************
					Main Start
			*************************************-->
			<div id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div class="container">
					<div class="row">
						<div id="sj-twocolumns" class="sj-twocolumns">
						<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 float-left">
								<aside id="sj-asidebar" class="sj-asidebar sj-widgetbox">
												<h3>Статистик</h3>
											
									<div class="sj-widgetdashboard">
										<table class="table matrics-table">
											<tbody>
												<tr>
													<td>
														<strong>Шинээр илгээсэн</strong>
													</td>
													<td class="txt-primary">{{ pending }}</td>
												</tr>
												<tr>
													<td>
														<strong>Хянагдаж байгаа</strong>
													</td>
													<td class="txt-danger">{{ editor }}</td>
												</tr>
												<tr>
													<td>
														<strong>Хэвлэлтэд</strong>
													</td>
													<td class="txt-primary">{{ editor1 }}</td>
												</tr>
												<tr>
													<td>
														<strong>Хүлээж авах боломжгүй</strong>
													</td>
													<td class="txt-primary">{{ Rejected }}</td>
												</tr>							
											</tbody>
											<!-- end of tbody -->
										</table>
												<div class="issue-list-progress">																	
						                <h6 style="color: black;">Нийт өгүүлэл: {{ total_paper }}
						                 </h6>	
					<!-- end of table -->
				                          </div>
									</div>
								</aside>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 float-right">
								<div id="sj-content" class="sj-content sj-addarticleholdcontent">
									<div class="sj-dashboardboxtitle sj-titlewithform">
										<h2>ТАНЫ ӨГҮҮЛЛҮҮД</h2>
										<br>
										<form class="sj-formtheme sj-formsearchvtwo">
											<div class="sj-sortupdown">
											</div>
											<fieldset>
												<input type="search" name="search" class="form-control" placeholder="Өгүүлэл хайх">
		
											</fieldset>
										</form>
									</div>
									<div class="sj-verticalmiddle">
										<div class="sj-welcomecontent">
											<div class="sj-welcomehead">
												<span>Greetings &amp; Welcome</span>
												<h2>Explore Latest Researches</h2>
											</div>
											<div class="sj-description">
												<p>Consectetur adipisicing elied dotaem eiusmod incididunt ulabore etoimisi dolore magna aliqua aenimalie admie veniam aistrud exrcittion ullamco laboris utaliquip commodouis aute irure dolorendries in voluptate velit esse cillum dolore.</p>
											</div>
											<div class="sj-btnarea">
												<a class="sj-btn" href="javascript:void(0);">Read More</a>
												<a class="sj-btn sj-btnactive" href="javascript:void(0);">Buy Now</a>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endblock %}

			