{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class="container">


 
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card-header">
                    <h3 class="card-title">Editorial board </h3>
                </div>
                <!-- /.card-header -->

                    <div class="row" >
                        <div class="card" style="width: 18rem; margin: 70px;"">
                            <img class="card-img-top" style="padding: 30px; width: 250px; height: 300px;" src="{% static 'images/1.jpeg'  %}" alt="Card image cap">
                            <div class="card-body">
                                <b class="card-text" style="text-align: center;">Дэд профессор Р.МИЖИДДОРЖ</b>
                              <p class="card-text">mijiddorj@msue.edu.mn
                                General Editor</p>
                                
                                <p>Дэд профессор, МУБИС-МБУС, Мэдээлэлзүйн тэнхим</p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem; margin: 70px;">
                            <img class="card-img-top" style="padding: 30px; width: 250px; height: 300px;" src="{% static 'images/2.jpeg'  %}" alt="Card image cap">
                            <div class="card-body">
                                <b class="card-text" style="text-align: center;">Магистр Т.УЛАМБАЯР</b>
                                <p class="card-text">ulambayar2012@gmail.com
                                    Editorr</p>
                                  
                                  <p>Багш, МУБИС-МБУС, Мэдээлэл зүйн тэнхим</p>
                              </div>
                          </div>
                            </div>
                        </div>
                </div>



                </form>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
  </section>
{% endblock %}

