{% extends "main/base.html" %}
{% block content %}
{% load static %}
  <div id="sj-homebanner" class="sj-homebanner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="sj-postbook">
            <figure class="sj-featureimg">
              <a class="sj-btnvideo" href="javascript:void(0);"><i class="lnr lnr-film-play"></i><span>Шилдэг өгүүллүүд</span></a>
              <div class="sj-bookimg">
                <div class="sj-frontcover"><img src="{% static 'images/11.jpg' %}" alt="image description"></div>
              </div>
            </figure>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="sj-bannercontent">
            <h1><span>	
              Оюутнаар хичээлийн  </span>үнэлгээ хийлгэх<span>асуудалд</span></h1>
            <div class="sj-description">
              <p>Consectetur adipisicing elit sedaui sedaui labore quis nostrud exercitation... <a href="javascript:void(0);">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="sj-haslayout">
  <div class="container">
    <div class="row">
      <div class="sj-welcomegreeting">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 sj-verticalmiddle">
          <div id="sj-welcomeimgslider" class="sj-welcomeimgslider sj-welcomeslider owl-carousel">
            <figure class="sj-welcomeimg item">
              <img src="{% static 'images/b1.png' %}" alt="welcome Image">
            </figure>
            <figure class="sj-welcomeimg item">
              <img src="{% static 'images/b2.png' %}" alt="welcome Image">
            </figure>
            <figure class="sj-welcomeimg item">
              <img src="{% static 'images/b1.png' %}" alt="welcome Image">
            </figure>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 sj-verticalmiddle">
          <div class="sj-welcomecontent">
            <div class="sj-welcomehead">
              <span>Greetings &amp; Welcome</span>
              <h2>Explore Latest Researches</h2>
            </div>
            <div class="sj-description">
              <p>Consectetur adipisicing elied dotaem eiusmod incididunt ulabore etoimisi dolore magna aliqua aenimalie admie veniam aistrud exrcittion ullamco laboris utaliquip commodouis aute irure dolorendries in voluptate velit esse cillum dolore.</p>
            </div>
            <div class="sj-btnarea">
              <a class="sj-btn" href="javascript:void(0);">Read More</a>
              <a class="sj-btn sj-btnactive" href="javascript:void(0);">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sj-twocolumns" class="sj-twocolumns">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-9">
        <div id="sj-content" class="sj-content">
        <!--************************************
            Editor's Pick Start
        *************************************-->
          <section class="sj-haslayout sj-sectioninnerspace">
            <div class="sj-borderheading">
              <h3>Editor’s Pick</h3>
              <a class="sj-btnview" href="javascript:void(0);">View All</a>
            </div>
            <div id="sj-editorchoiceslider" class="sj-editorchoiceslider sj-editorschoice owl-carousel">
              <div class="item">
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-01.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Hillary Farnham</a></span>
                      <h3><a href="javascript:void(0);">Toward Better-Quality Compounded Drugs — An Update form</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-02.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Coleman Hoff</a></span>
                      <h3><a href="javascript:void(0);">Toward Better-Quality Compounded Drugs</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-03.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Frederica Kinnaird</a></span>
                      <h3><a href="javascript:void(0);">A Milestone for CART Cells &amp; Treatment</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-01.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Hillary Farnham</a></span>
                      <h3><a href="javascript:void(0);">Toward Better-Quality Compounded Drugs — An Update form</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-02.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Coleman Hoff</a></span>
                      <h3><a href="javascript:void(0);">Toward Better-Quality Compounded Drugs</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-03.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Frederica Kinnaird</a></span>
                      <h3><a href="javascript:void(0);">A Milestone for CART Cells &amp; Treatment</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-01.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Hillary Farnham</a></span>
                      <h3><a href="javascript:void(0);">Toward Better-Quality Compounded Drugs — An Update form</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-02.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Coleman Hoff</a></span>
                      <h3><a href="javascript:void(0);">Toward Better-Quality Compounded Drugs</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="images/editorchoice/img-03.jpg" alt="image description">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username"><a href="javascript:void(0);">Frederica Kinnaird</a></span>
                      <h3><a href="javascript:void(0);">A Milestone for CART Cells &amp; Treatment</a></h3>
                    </div>
                    <div class="sj-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco...</p>
                    </div>
                    <a class="sj-btn" href="javascript:void(0);">View Full Article</a>
                  </div>
                </article>
              </div>
            </div>
          </section>
        <!--************************************
            Editor's Pick End
        *************************************-->
        <!--************************************
            Previous Posts Start
        *************************************-->


        </aside>
      </div>
    </div>
  </div>
</div>
{% endblock %}