{% extends "main/base.html" %}
{% block content %}
{%  load  static %}

<div class="page-wrapper">
    <!-- Page-header start -->
<h1>ЗОХИОГЧИЙН ЭРХ, ХУУЛБАР, ЁС ЗҮЙН ЗӨВЛӨГӨӨ</h1>
		<hr>
        <span>Зохиогчийн эрх, хуулбар, ёс зүйн зөвлөгөө","Зохиогчийн эрх, хуулбар, ёс зүйн зөвлөгөө		</span>
        
<br>
<div class="page-body">			
<div class="row">
	<div class="col-sm-12">	
		<div class="sub-title">
		
		</div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs  tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Зохиогчид өгөх зөвлөгөө</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Өгүүлэл хэвлэлтэд авах ерөнхий зарчим</a>
			</li>			
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Видео хичээлүүд</a>
			</li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content tabs card-block">
			<div class="tab-pane active" id="home1" role="tabpanel">
				<div class="card-block">								
					<ul>						
						<li><i class="icofont icofont-stylish-right text-danger"></i> Сэтгүүлд нийтлэгдсэн бүтээл нь зохиогчийн эрх бусад хууль тогтоомжийн дагуу хамгаалагдсан байна. Зохиогчийн эрх нь МУБИС-ийн ЭШИА-нд хадгалагдана.</li>
						<li><i class="icofont icofont-stylish-right text-danger"></i> “Лавай” сэтгүүлд хэвлүүлсэн бүтээлүүд нь Creative Commons Attribution 4.0 олон улсын лиценз (CC BY)-ийн дагуу нийтлэгдсэн нээлттэй бүтээлүүд байна. Энэхүү СС ВҮ лицензийн хүрээнд бүтээлийг эш татсан нөхцөлд түүнийг ашиглах, олшруулах, бусдад түгээж болох ба зохиогчдын нэрсийг заавал дурдсан байна.</li>
						<li><i class="icofont icofont-stylish-right text-danger"></i> Урд өмнө хэвлэгдсэн хүснэгт, зургийг ашиглах бол тухайн бүтээлийн зохиогчийн эрх эзэмшигчээс зөвшөөрөл авч, түүнийгээ баримтаар нотолсон байна.</li>
						<li><i class="icofont icofont-stylish-right text-danger"></i> БСШУ-ны сайдын 454 дүгээр тушаалаар батлагдсан “Эрдэм шинжилгээний ажилтны ёс зүйн ерөнхий дүрэм”-ийн 4, 5 дугаар заалт болон ёс зүйн стандартыг (Compliance with Ethical Standards) мөрдөн ажиллана.  </li>
						<li><i class="icofont icofont-stylish-right text-danger"></i> Бүтээл ашиг сонирхлын зөрчилгүй, шинжлэх ухааны өндөр түвшинд бичигдсэн байна.</li>
						<li><i class="icofont icofont-stylish-right text-danger"></i> Бусдын бүтээл, өгүүллийн хэсэг болон санаа хуулбарлаагүй байна.</li>
						<li><i class="icofont icofont-stylish-right text-danger"></i> Бүтээл нь анхдагч үр дүнтэй байна.</li>
						<li><i class="icofont icofont-stylish-right text-danger"></i> Хэвлэн нийтлүүлэх ёс зүйн асуудал гарсан тохиолдолд зөвлөл нь хэвлэн нийтлэх ёс зүйн хороо (Сommittee on Publication Ethics, COPE)-ны удирдамжид тулгуурлан шийдвэрлэнэ.</li>
						<li><i class="icofont icofont-stylish-right text-danger"></i> Хэвлэн нийтлүүлэх ёс зүйн асуудал гарсан тохиолдолд зөвлөл нь хэвлэн нийтлэх ёс зүйн хороо (Сommittee on Publication Ethics, COPE)-ны удирдамжид тулгуурлан шийдвэрлэнэ.</li>
						<li><a href="https://publicationethics.org/" target="_blank">
                                <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
                                <span class="pcoded-mtext">Promoting integrity in scholarly research and its publication</span>
                            </a>
						</li>	
						<li><a href="http://thinkchecksubmit.org/translations/mongolian/" target="_blank">
                                <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
                                <span class="pcoded-mtext"><i class="icofont icofont-exclamation-circle text-danger"></i> <label class="badge badge-danger">Think</label>, <i class="icofont icofont-ui-check text-warning"></i> <label class="badge badge-warning">Check</label>, <i class="icofont icofont-circled-right text-success"></i> <label class="badge badge-success">Submit</label></span>
                            </a>
						</li>	
					</ul>				
					<blockquote class="blockquote blockquote-reverse">
						<p class="m-b-0">МУБИС-ийн эрдэм шинжилгээний бичиг “Лавай” болон бүрэлдэхүүний сургуулиас сэтгүүл эрхлэн гаргах журмаас</p>
						<footer class="blockquote-footer">эх сурвалж
							<cite title="Source Title">www.msue.edu.mn</cite>
						</footer>
					</blockquote>				
				</div>
			</div>
			<div class="tab-pane" id="profile1" role="tabpanel">
				<div class="card">
				<div class="card-header">
					<h5>Өгүүлэл хэвлэлтэд авах ерөнхий зарчим</h5>					
					<div class="card-header-right">
					
					</div>
				</div>
                <br>
				<div class="card-block">										
					<ul>
						<li>
                            <a href="https://drive.google.com/file/d/1wPKAYJhHYY_M6p-CPl-gIZ0lohEwCnSP/view" target="_blank">
                                <span class="pcoded-micon"><i class="icofont icofont-file-pdf"></i></i></span>
                                <span class="pcoded-mtext">Үзэх</span>
                            </a>
						</li>
						<li>
							<a href="https://drive.google.com/file/d/1wPKAYJhHYY_M6p-CPl-gIZ0lohEwCnSP/view" target="_blank">
                                <span class="pcoded-micon"><i class="icofont icofont-file-pdf"></i></span>
                                <span class="pcoded-mtext">Download</span>
                            </a>
                        </li>
						<li>
							<a href="https://drive.google.com/file/d/1wPKAYJhHYY_M6p-CPl-gIZ0lohEwCnSP/view" target="_blank">
                                <span class="pcoded-micon"><i class="icofont icofont-file-jpg"></i></span>
                                <span class="pcoded-mtext">Download</span>
                            </a>
                        </li>							
						<blockquote class="blockquote blockquote-reverse">
							<p class="text-muted m-b-15 m-t-20">Санамж:<code>Энэхүү веб хуудас дахь цахим болон бусад хэлбэрийн материалыг зохиогчоос нь зөвшөөрөл авч нийтэлсэн болно. Тухайн материалыг ямар нэг хэлбэрээр ашиглах болбол эх сурвалжаа заавал дурдана уу.</code></p>
						</blockquote>					
					</ul>						
				</div>
			</div>

			</div>
			
			<div class="tab-pane" id="settings1" role="tabpanel">
<!-- Simple card start -->
		<div class="row simple-cards users-card">
	
			<div class="col-md-12 col-xl-6">

				<div class="card user-card">
					<div class="card-header">                                                        						
						<h4></h4>						
					</div>
					<div class="row justify-content-center">
						
					</div>
					<p></p>					
						<div class="media-body">
                        <div class="col-xs-12">
							<h6 class="d-inline-block">
								</h6>
							<label class="label label-info">for Authors</label>
						</div>						
						<div class="f-13 text-muted m-b-15">

						</div>                                                                             
						</div>
				</div>
			</div> 
			
		</div>
		<!-- end of row -->

		<!-- Simple card end -->
	
				
				
			</div>
		</div>
	</div>                                                           
</div>
<!-- Row end -->
</div>
</div>
	
</div>		
</div>
{% endblock %}
