{% load static %}
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Scientific Journal</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/fontawesome/fontawesome-all.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/scrollbar.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/chartist.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/dashboard.css">
	<link rel="stylesheet" href="css/color.css">
	<link rel="stylesheet" href="css/transitions.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/transitions.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' % ">
    <link rel="stylesheet" href="{% static 'css/main1.css' % ">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
				Preloader Start
	*************************************-->
	<div class="preloader-outer">
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
		</div>
	</div>
	<!--************************************
				Preloader End
	*************************************-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="sj-wrapper" class="sj-wrapper">
		<!--************************************
				Content Wrapper Start
		*************************************-->
		<div class="sj-contentwrapper">
			<!--************************************
					Header Start
			*************************************-->
			<header id="sj-header" class="sj-header sj-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="sj-topbar">
								<ul class="sj-socialicons sj-socialiconssimple">
									<li class="sj-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
									<li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
									<li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
									<li class="sj-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
								</ul>
								<div class="pull-right">
									<ul class="nav pull-right">
										<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
												<li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
												<li class="divider"></li>
												<li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
											</ul>
										</li>
									</ul>
								  </div>
									<div class="sj-languages">
										<a id="sj-languages-button" href="javascript:void(0);">
											<img src="images/flags/flag-02.jpg" alt="image description">
											<span>Eng</span>
											<i class="fa fa-angle-down"></i>
										</a>
										<ul>
											<li>
												<a href="javascript:void(0);">
													<img src="images/flags/flag-01.jpg" alt="image description">
													<span>Ara</span>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<img src="images/flags/flag-02.jpg" alt="image description">
													<span>Eng</span>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<img src="images/flags/flag-03.jpg" alt="image description">
													<span>Chi</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="sj-navigationarea">
								<strong class="sj-logo"><a href="index.html"><img src="images/logo.png" alt="company logo here"></a></strong>
								<div class="sj-rightarea">
									<nav id="sj-nav" class="sj-nav navbar-expand-lg">
										<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
											<i class="lnr lnr-menu"></i>
										</button>
										<div class="collapse navbar-collapse sj-navigation" id="navbarNav">
											<ul>
												<li class="menu-item-has-children page_item_has_children">
													<a href="javascript:void(0);"><i class="lnr lnr-home"></i></a>
													<ul class="sub-menu">
														<li><a href="index.html">Home V One</a></li>
														<li><a href="indexv2-login.html">Home V Two</a></li>
													</ul>
												</li>
												<li>
													<a href="aboutus.html">About us</a>
												</li>
												<li class="menu-item-has-children page_item_has_children">
													<a href="javascript:void(0);">Articles</a>
													<ul class="sub-menu">
														<li><a href="articles.html">Articles</a></li>
														<li><a href="articledetail.html">Article Detail</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children page_item_has_children">
													<span class="sj-tagnew">New</span>
													<a href="javascript:void(0);">Issues</a>
													<ul class="sub-menu">
														<li><a href="issuesweeks.html">Issues Weeks</a></li>
														<li><a href="issuesyears.html">Issues Years</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children page_item_has_children current-menu-item">
													<a href="javascript:void(0);">Pages</a>
													<ul class="sub-menu">
														<li class="menu-item-has-children page_item_has_children">
															<a href="javascript:void(0);">News</a>
															<ul class="sub-menu">
																<li><a href="newsgrid.html">News Grid</a></li>
																<li><a href="newslist.html">News List</a></li>
																<li><a href="newsdetail.html">News Detail</a></li>
															</ul>
														</li>
														<li class="menu-item-has-children page_item_has_children">
															<a href="javascript:void(0);">Manage User</a>
															<ul class="sub-menu">
																<li><a href="manageuser.html">Manage User</a></li>
																<li><a href="manageusers.html">Manage Users</a></li>
															</ul>
														</li>
														<li class="menu-item-has-children page_item_has_children">
															<a href="javascript:void(0);">Settings</a>
															<ul class="sub-menu">
																<li><a href="accountsettings.html">Account Settings</a></li>
																<li><a href="generalsettings.html">General Settings</a></li>
															</ul>
														</li>
														<li><a href="authorguideline.html">Author Guideline</a></li>
														<li><a href="underreview.html">Under Review</a></li>
														<li><a href="addtemplates.html">Add Templates</a></li>
														<li><a href="checkout.html">Checkout</a></li>
														<li class="menu-item-has-children page_item_has_children">
															<a href="javascript:void(0);">Login</a>
															<ul class="sub-menu">
																<li><a href="loginregister.html">Login Register</a></li>
																<li><a href="loginregistervtwo.html">Login Register V Two</a></li>
															</ul>
														</li>
														<li><a href="404error.html">404 Error</a></li>
														<li><a href="comingsoon.html">Coming Soon</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</nav>
									<a class="sj-btntopsearch" href="#sj-searcharea"><i class="lnr lnr-magnifier"></i></a>
									<a class="sj-btn sj-btnactive" href="javascript:void(0);">Submit Your Article</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!--************************************
					Header End
			*************************************-->
			<!--************************************
					Inner Banner Start
			*************************************-->
			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Submit Your Article</h1>
								<ol class="sj-breadcrumb">
									<li><a href="javascript:void(0);">Home</a></li>
									<li><a href="javascript:void(0);">Submit Your Aticle</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->
			<!--************************************
					Main Start
			*************************************-->
			<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div class="container">
					<div class="row">
						<div id="sj-twocolumns" class="sj-twocolumns">
						<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 float-left">
								<aside id="sj-asidebar" class="sj-asidebar sj-widgetbox">
									<div class="sj-widgetprofile">
										<div class="sj-widgetcontent">
											<figure>
												<img src="images/thumbnails/img-01.jpg" alt="image description">
												<a class="sj-btnedite" href="javascript:void(0);"><i class="lnr lnr-pencil"></i></a>
											</figure>
											<div class="sj-admininfo">
												<h3>Racheal Maresca</h3>
												<h4>Author</h4>
											</div>
										</div>
									</div>
									<div class="sj-widgetdashboard">
										<nav id="sj-dashboardnav" class="sj-dashboardnav">
											<ul>
												<li class="sj-active">
													<a href="javascript:void(0);">
														<i class="lnr lnr-sync"></i>
														<span>Articles Under Review</span>
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="lnr lnr-heart"></i>
														<span>Accepted Articles</span>
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="lnr lnr-magic-wand"></i>
														<span>Major/Minor Revisions</span>
													</a>
												</li>
												
												<li>
													<a href="javascript:void(0);">
														<i class="lnr lnr-construction"></i>
														<span>Rejected Articles</span>
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="lnr lnr-lock"></i>
														<span>Account Settings</span>
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="lnr lnr-exit"></i>
														<span>Logout</span>
													</a>
												</li>
											</ul>
										</nav>
									</div>
								</aside>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 float-right">
								<div id="sj-content" class="sj-content sj-addarticleholdcontent sj-addarticleholdvtwo">
									<div class="sj-dashboardboxtitle sj-titlewithform">
										<h2>Manage Editions</h2>
										<form class="sj-formtheme sj-formsearchvtwo">
											<div class="sj-sortupdown">
												<a href="javascript:void(0);"><i class="fa fa-sort-amount-up"></i></a>
											</div>
											<fieldset>
												<input type="search" name="search" class="form-control" placeholder="Search here">
												<button type="submit" class="sj-btnsearch"><i class="lnr lnr-magnifier"></i></button>
											</fieldset>
										</form>
									</div>
									<div class="sj-manageallsession">
										<form class="sj-formtheme sj-managesessionform">
											<fieldset>
												<div class="form-group">
													<button type="button" class="sj-btn sj-btnactive" data-toggle="modal" data-target="#reviewermodal">Add New Edition</button>
												</div>
												<div class="form-group sj-inputwithicon float-right">
													<i class="lnr lnr-sync"></i>
													<span class="sj-select">
														<select data-placeholder="All" name="locations">
															<option value="">Sort By</option>
															<option value="aberdeen">Sort By1</option>
															<option value="aldershot">Sort By2</option>
															<option value="altrincham">Sort By</option>
															<option value="aylesbury">Sort By4</option>
														</select>
													</span>
												</div>
											</fieldset>
										</form>
										<ul class="sj-allcategorys">
											<li class="sj-categorysinfo">
												<div class="sj-title">
													<h3>Ismael Sponaugle <span class="sj-assignedinfo" data-toggle="modal" data-target="#feedbackmodal">( 02 Categories Assigned )</span></h3>
												</div>
												<div class="sj-categorysrightarea">
													<a href="javascript:void(0);" class="sj-pencilbtn"><i class="ti-pencil"></i></a>
													<a href="javascript:void(0);" class="sj-trashbtn"><i class="ti-trash"></i></a>
												</div>
											</li>
											<li class="sj-categorysinfo">
												<div class="sj-title">
													<h3>Kimber Gutierrez <span class="sj-assignedinfo" data-toggle="modal" data-target="#feedbackmodal">( 02 Categories Assigned )</span></h3>
												</div>
												<div class="sj-categorysrightarea">
													<a href="javascript:void(0);" class="sj-pencilbtn"><i class="ti-pencil"></i></a>
													<a href="javascript:void(0);" class="sj-trashbtn"><i class="ti-trash"></i></a>
												</div>
											</li>
											<li class="sj-categorysinfo sj-deleteuser">
												<div class="sj-title">
													<h3>Melina Schrum <span class="sj-assignedinfo" data-toggle="modal" data-target="#feedbackmodal">( 02 Categories Assigned )</span></h3>
												</div>
												<div class="sj-deletenotifications">
													<span>Are you sure you want to delete this category?</span>
													<ul class="sj-deletewarning">
														<li><a href="javascript:void(0);">YES</a></li>
														<li><a href="javascript:void(0);">NO</a></li>
													</ul>
												</div>
											</li>
											<li class="sj-categorysinfo">
												<div class="sj-title">
													<h3>Carmine Stradford <span>None</span></h3>
												</div>
												<div class="sj-categorysrightarea">
													<a href="javascript:void(0);" class="sj-pencilbtn"><i class="ti-pencil"></i></a>
													<a href="javascript:void(0);" class="sj-trashbtn"><i class="ti-trash"></i></a>
												</div>
											</li>
											<li class="sj-categorysinfo">
												<div class="sj-title">
													<h3>Ciara Doherty <span class="sj-assignedinfo" data-toggle="modal" data-target="#feedbackmodal">( 02 Categories Assigned )</span></h3>
												</div>
												<div class="sj-categorysrightarea">
													<a href="javascript:void(0);" class="sj-pencilbtn"><i class="ti-pencil"></i></a>
													<a href="javascript:void(0);" class="sj-trashbtn"><i class="ti-trash"></i></a>
												</div>
											</li>
											<li class="sj-categorysinfo">
												<div class="sj-title">
													<h3>Samatha Erikson <span>None</span></h3>
												</div>
												<div class="sj-categorysrightarea">
													<a href="javascript:void(0);" class="sj-pencilbtn"><i class="ti-pencil"></i></a>
													<a href="javascript:void(0);" class="sj-trashbtn"><i class="ti-trash"></i></a>
												</div>
											</li>
											<li class="sj-categorysinfo">
												<div class="sj-title">
													<h3>Denna Evens <span>None</span></h3>
												</div>
												<div class="sj-categorysrightarea">
													<a href="javascript:void(0);" class="sj-pencilbtn"><i class="ti-pencil"></i></a>
													<a href="javascript:void(0);" class="sj-trashbtn"><i class="ti-trash"></i></a>
												</div>
											</li>
											<li class="sj-categorysinfo">
												<div class="sj-title">
													<h3>Hosea Hash <span class="sj-assignedinfo" data-toggle="modal" data-target="#feedbackmodal">( 02 Categories Assigned )</span></h3>
												</div>
												<div class="sj-categorysrightarea">
													<a href="javascript:void(0);" class="sj-pencilbtn"><i class="ti-pencil"></i></a>
													<a href="javascript:void(0);" class="sj-trashbtn"><i class="ti-trash"></i></a>
												</div>
											</li>
										</ul>
										<nav class="sj-pagination">
											<ul>
												<li class="sj-prevpage"><a href="#"><i class="fa fa-angle-left"></i> Previous</a></li>
												<li class="sj-active"><a href="#">01</a></li>
												<li><a href="#">02</a></li>
												<li><a href="#">03</a></li>
												<li><a href="#">04</a></li>
												<li><a href="#">05</a></li>
												<li class="sj-nextpage"><a href="#">Next <i class="fa fa-angle-right"></i></a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
					Main End
			*************************************-->
			<!--************************************
					Footer Start
			*************************************-->
			<footer id="sj-footer" class="sj-footer sj-haslayout">
				<div class="container">
					<div class="row">
						<a class="sj-btnscrolltotop" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
						<div class="sj-footercolumns">
							<div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
								<div class="sj-fcol sj-footeraboutus">
									<strong class="sj-logo">
										<a href="index.html"><img src="images/logo.png" alt="image description"></a>
									</strong>
									<div class="sj-description">
										<p>Eiusmod tempor incididunt ut labore etai dolore magna aliqua enim nostrud exercitation... <a href="javascript:void(0);">Read More</a></p>
									</div>
									<ul class="sj-socialicons sj-socialiconssimple">
										<li class="sj-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
										<li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
										<li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
										<li class="sj-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
										<li class="sj-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
								<div class="sj-fcol sj-widget sj-widgetusefullinks">
									<div class="sj-widgetheading">
										<h3>By Specialty</h3>
									</div>
									<div class="sj-widgetcontent">
										<ul>
											<li><a href="javascript:void(0);">Contact Us</a></li>
											<li><a href="javascript:void(0);">Careers @ Scientific Journal</a></li>
											<li><a href="javascript:void(0);">Get Help and Support</a></li>
											<li><a href="javascript:void(0);">Rights &amp; Permissions</a></li>
											<li class="sj-more"><a href="javascript:void(0);">more</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
								<div class="sj-fcol sj-widget sj-widgetresources">
									<div class="sj-widgetheading">
										<h3>Resources</h3>
									</div>
									<div class="sj-widgetcontent">
										<ul>
											<li><a href="javascript:void(0);">Authors</a></li>
											<li><a href="javascript:void(0);">Librarians</a></li>
											<li><a href="javascript:void(0);">Sponsors &amp; Advertisers</a></li>
											<li><a href="javascript:void(0);">Press &amp; Media</a></li>
											<li class="sj-more"><a href="javascript:void(0);">more</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
								<div class="sj-fcol sj-widget sj-widgetcontactus">
									<div class="sj-widgetheading">
										<h3>Get In Touch</h3>
									</div>
									<div class="sj-widgetcontent">
										<ul>
											<li><i class="lnr lnr-home"></i><address>123 Office St, ABC Building, Melbourne, Australia. </address></li>
											<li><a href="tel:(+4)123456789101"><i class="lnr lnr-phone"></i><span>(+4) 1234 5678 9101</span></a></li>
											<li><a href="tel:(+4)123456789101"><i class="lnr lnr-screen"></i><span>(+4)4321 8765 1019</span></a></li>
											<li><a href="mailto:info@yourdomain.com"><i class="lnr lnr-envelope"></i><span>info@yourdomain.com</span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="sj-footerbottom">
							<p class="sj-copyrights">© 2018 <span>Scientific Journal</span>. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</footer>
			<!--************************************
					Footer End
			*************************************-->
		</div>
		<!--************************************
				Content Wrapper End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<!--************************************
			Search Start
	*************************************-->
	<div id="sj-searcharea" class="sj-searcharea">
		<button type="button" class="close">×</button>
		<form class="sj-formtheme sj-formsearcmain">
			<input type="search" value="" placeholder="Search Here..." />
			<button type="submit" class="sj-btn sj-btnactive"><span>Search</span></button>
		</form>
	</div>
	<!--************************************
			Search End
	*************************************-->
	<!--************************************
			Assign Reviewer	Popup Start
	*************************************-->
	<div class="sj-modalboxarea modal fade" tabindex="-1" role="dialog" id="reviewermodal">
		<div class="modal-dialog" role="document">
			<div class="sj-modalcontent modal-content">
				<div class="sj-popuptitle">
					<h2>Assign Category</h2>
					<a href="javascript;void(0);" class="sj-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal" aria-label="Close"></i></a>
				</div>
				<div class="modal-body">
					<form class="sj-formtheme sj-formregister sj-formregistervtwo">
						<fieldset>
							<div class="form-group">
								<input type="email" name="youremail" class="form-control" placeholder="First Name*">
							</div>
							<div class="form-group">
								<input type="email" name="youremail" class="form-control" placeholder="Sur Name*">
							</div>
							<div class="form-group">
								<input type="email" name="youremail" class="form-control" placeholder="Email*">
							</div>
							<div class="form-group">
								<input type="password" name="password" class="form-control" placeholder="Password*">
							</div>
							<div class="sj-selectgroup">
								<span class="sj-radio">
									<input id="sj-qone" type="radio" name="question" value="qone" checked="">
									<label for="sj-qone">Admin </label>
								</span>
								<span class="sj-radio">
									<input id="sj-qtwo" type="radio" name="question" value="qtwo">
									<label for="sj-qtwo">Reviewer</label>
								</span>
							</div>
						</fieldset>
					</form>
					<form class="sj-formtheme sj-formaddproject sj-formaddprojectvtwo">
						<fieldset class="sj-dragdropimg">
							<div class="sj-inputtyfile">
								<div class="sj-title">
									<h3>Upload Powerpoint</h3>
								</div>
								<label for="sj-uploadimgvtwo">
									<span>Upload Your File Here</span>
									<span><i class="ti-upload"></i></span>
									<input type="file" name="uploadimgvtwo" id="sj-uploadimgvtwo">
								</label>
								<div class="sj-filedetails">
									<span>File should be max 500kb </span>
									<em>Not Uploaded Yet</em>
								</div>
							</div>
							<div class="sj-inputtyfile sj-uploading">
								<div class="sj-title">
									<h3>Upload Handout</h3>
								</div>
								<label for="sj-uploadimgvtwoa">
									<span>Final_handout_2018.pdf</span>
									<span><i class="ti-close"></i></span>
									<input type="file" name="uploadimgvtwo" id="sj-uploadimgvtwoa">
								</label>
								<div class="sj-filedetails">
									<span>File should be max 500kb </span>
									<em>File Uploaded</em>
								</div>
							</div>
						</fieldset>
						<div class="sj-popupbtn">
							<button type="button" class="sj-btn sj-btnactive">Assign Now</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--************************************
			Assign Reviewer	Popup End
	*************************************-->
	<!--************************************
			Send Feedback Popup Start
	*************************************-->
	<div class="sj-modalboxarea modal fade" tabindex="-1" role="dialog" id="feedbackmodal">
		<div class="modal-dialog" role="document">
			<div class="sj-modalcontent modal-content">
				<div class="sj-popuptitle">
					<h2>Assigned Categories</h2>
					<a href="javascript;void(0);" class="sj-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal" aria-label="Close"></i></a>
				</div>
				<div class="modal-body">
					<form class="sj-formtheme sj-formaddnewfield sj-verticalscrollbar">
						<fieldset  id="filter-masonry" class="sj-haslayout">	
							<div class="form-group">
								<span class="sj-checkbox sj-firstheadcheckbox">
									<input type="checkbox" id="sj-checkboxone1" name="bycondition" value="Accountant">
									<label for="sj-checkboxone1">
										<span>User Title Here</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title1" name="bycondition" value="Accountant">
									<label for="sj-title1">
										<span>Category Title 01</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title2" name="bycondition" value="Accountant">
									<label for="sj-title2">
										<span>Category Title 02</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title3" name="bycondition" value="Accountant">
									<label for="sj-title3">
										<span>Category Title 03</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title4" name="bycondition" value="Accountant">
									<label for="sj-title4">
										<span>Category Title 04</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title5" name="bycondition" value="Accountant">
									<label for="sj-title5">
										<span>Category Title 05</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title6" name="bycondition" value="Accountant">
									<label for="sj-title6">
										<span>Category Title 06</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title7" name="bycondition" value="Accountant">
									<label for="sj-title7">
										<span>Category Title 07</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title8" name="bycondition" value="Accountant">
									<label for="sj-title8">
										<span>Category Title 08</span>
									</label>
								</span>
								<span class="sj-checkbox">
									<input type="checkbox" id="sj-title9" name="bycondition" value="Accountant">
									<label for="sj-title9">
										<span>Category Title 09</span>
									</label>
								</span>
							</div>
						</fieldset>
					</form>
					<div class="sj-popupbtn">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--************************************
			Send Feedback Popup End
	*************************************-->
    <script src="{% static "js/vendor/jquery-3.3.1.js" %}"></script>
    <script src="{% static  "js/vendor/jquery-library.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/circle-progress.js" % }"></script>
    <script src="{% static "js/scrollbar.min.js" %}"></script>
    <script src="{% static "js/chartist.min.js" %}"></script>
    <script src="{% static "js/countdown.js" %}"></script>
    <script src="{% static "js/appear.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>