{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/transitions.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' % ">
    <link rel="stylesheet" href="{% static 'css/main1.css' % ">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
      <script src="{% static   'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

</head>




<body class="sj-home">
	<div id="sj-wrapper" class="sj-wrapper">
		<!--************************************
				Content Wrapper Start
		*************************************-->
		<div class="sj-contentwrapper">

      
	<header id="sj-header" class="sj-header sj-haslayout">

        
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="sj-topbar">
            {% if user.is_authenticated %}

            {% endif %}
            <div class="sj-languagelogin">


          {% if user.is_authenticated %}
          					<div class="sj-userloginarea" style="display: block;">
										<a id="sj-languages-button" href="javascript:void(0);"><i style="font-weight: 900;" class="fa fa-angle-down"></i>
											<img src="{% static  'dist/img/avatar04.png' %}" alt="image description">
											<div class="sj-loginusername">
												<h3>Hi, {{user.first_name}}</h3>

												<span>{{user.last_name}}</span>
                        <!-- {{request.user.groups.all.0.name }} -->
											</div>
										</a>
										<nav class="sj-usernav">
											<ul>
												<li><a href="aticle-list.html"><i class="lnr lnr-sync"></i><span>Aticle List</span></a></li>
												<li><a href=""><i class="lnr lnr-user"></i><span>Profile</span></a></li>
											
												<li><a href="{% url 'logout' %}"><i class="lnr lnr-exit"></i><span>Logout</span></a></li>
											</ul>
										</nav>
									</div>

                    

       
          {% else %}
      
          <div class="sj-loginarea">
            <ul class="sj-loging">
              <li><a href="{% url 'login' %}">Нэвтрэх </a></li>
              <li><a href="{% url 'register' %}">Бүртгүүлэх</a></li>
            </ul>
          </div>
      
           {% endif %}
           {% if user.is_authenticated %}
              <div class="sj-languages " style="padding: revert;">
                <div class="dropdown">
                  <span class="btn btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Roles  </span>
                    
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if user.is_author and user.is_reviewer %}
                    <a class="dropdown-item" href="{% url 'home' %}">Author</a>
                    <a class="dropdown-item" href="{% url 'index' %}">Reviewer</a>
                    {%  elif user.is_reviewer %}
                    <a class="dropdown-item" href="{% url 'index' %}"> Reviewer</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'home' %}"> Author</a>
                    {% endif %}
                    
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="sj-navigationarea">
            <strong class="sj-logo"><a href=""><img src="{% static 'images/logo.png'  %}" style="height: 35px;"></a></strong>
            <div class="sj-rightarea">
              <nav id="sj-nav" class="sj-nav navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="lnr lnr-menu"></i>
                </button>
                <div class="collapse navbar-collapse sj-navigation" id="navbarNav">
                  <ul>
                    <li class="current-menu-item menu-item-has-children page_item_has_children">
                   
                        <li><a href="{% url 'home'%}"><i class="lnr lnr-home"></i> Нүүр хуудас </a></li>
                    </li>
                    <li class="menu-item-has-children page_item_has_children">
                      <a href="javascript:void(0);"> Зохиогч </a>
                      <ul class="sub-menu">
                        <li>
                          {% if user.is_authenticated %}
                          <a href="{% url 'article_list' %}">Таны өгүүлэл</a>
                          {% endif %}
                        </li>
                        <li><a href="{% url 'huuliPage' %}">Хууль,эрх зүй <i class="lnr lnr-chevron-down"></i></a></li>

                        <li>
                          <a href="{% url 'articleSubmit' %}">Өгүүлэл илгээхийн өмнө</a>
                        </li>
                        <!-- <li><a href="aticle-list.html">Aticle List</a></li>
                        <li><a href="articledetail.html">Article Detail</a></li>
                        <li><a href="submitarticle.html">Submit Article</a></li> -->
                      </ul>
                    </li>
                    <li class="menu-item-has-children page_item_has_children">
                      <span class="sj-tagnew">New</span>
                      <a href=""> Зөвлөгөө </i></a>
                    </li>
                    <li class="menu-item-has-children page_item_has_children">
                      <a href="#">Холбоо барих <i class="lnr lnr-chevron-down"></i></a>
                      <ul class="sub-menu">
                        <li><a href="{% url 'editor' %}">Редакц</a></li>
                        <li><a href="{% url 'about' %}">Холбоо барих</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
              {% if user.is_authenticated %}
              <a class="sj-btntopsearch" href="#sj-searcharea"></a>
              <a class="sj-btn sj-btnactive" href="{% url  'index_Article' %}">Өгүүлэл илгээх  </a>
              {% else %}
          <a class="sj-btntopsearch" href="#sj-searcharea"></a>
          <a class="sj-btn sj-btnactive" href="javascript:void(0);"></a>



              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
      <script src="{% static 'js/vendor/jquery-3.3.1.js' %}"></script>
      <script src="{% static  'js/vendor/jquery-library.js' %}"></script>
      <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/circle-progress.js' % }"></script>
      <script src="{% static 'js/scrollbar.min.js' %}"></script>
      <script src="{% static 'js/chartist.min.js' %}"></script>
      <script src="{% static 'js/countdown.js' %}"></script>
      <script src="{% static 'js/appear.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>