{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class="container">
	<div class="row">
		<div id="sj-twocolumns" class="sj-twocolumns">
			<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-right">
				<div class="form-group">
					<a href="{% url 'articleSubmit' %}" class="btn btn-info waves-effect">Өгүүлэл илгээх өмнө</a>
				</div>
				<div id="sj-content" class="sj-content sj-addarticleholdcontent">
					<div class="sj-dashboardboxtitle">
						<h2>Өгүүллийн ерөнхий мэдээлэл оруулах </h2>
					</div>
					<div class="sj-addarticlehold">

						<form action="{% url 'article_send' %}"  class="sj-formtheme sj-formarticle" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<fieldset>
								<div class="form-group">
									<input type="text" name="p_name" class="form-control" placeholder="Өүүллийн нэр *" required="required">
								</div>
								<div class="form-group">
									<input type="text" name="abstarct" class="form-control" placeholder="Зохиогчдын нэрсийг АРА форматаар бичнэ үү*" required="required">
								</div>
								<div class="form-group form-primary">
									<div class="tags_add">
									<input type="text" class="form-control" id="paper_keywords" name="p_key" placeholder="Түлхүүр үгс*" value="" data-role="tagsinput">
								</div>
								<!-- <div class="form-group form-primary">
									<div class="tags_add">
										<select class="form-control">
											<option>Ангилал сонгох</option>
											{% for list in lists  %}
											<option value="">{{list.journalContent}}</option>
											{% endfor %}
										</select>
								</div>
								</div> -->
								<div class="form-group">
									<textarea placeholder="Өгүүлэлийнхээ хураангуйг бичнэ үү*" name="p_title"></textarea>
								</div>
								<div class="sj-inputtyfile">
									<div class="sj-title">
										<h3><i class="fas fa-upload"></i> Word File хавсрах</h3> 
									</div>
										<input type="file" name="word_file" id="sj-uploadimgvtwo" enctype="multipart/form-data">
									<div class="sj-filedetails">
										<span>Doc файлын хэмжээ 10mb-аас бага байх ёстой. </span>
									</div>
								</div>
								<div class="sj-inputtyfile">
									<div class="sj-title">
										<h3><i class="fas fa-upload"></i> PDF File хавсрах</h3> 
									</div>
										<input type="file" name="pdf_file" id="sj-uploadimgvtwo" enctype="multipart/form-data">
									<div class="sj-filedetails">
										<span>PDF файлын хэмжээ 10mb-аас бага байх ёстой. </span>
									</div>
								</div>
								PDF
							</fieldset>
							<br>
							<br>
							<button type="submit" class="btn btn-inf btn-lg btn-block" href="">Өгүүлэл илгээх</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 float-left">
				<aside id="sj-sidebarvtwo" class="sj-sidebar">
					<div class="sj-profilestrenght">
						<div class="sj-headerhold">
							<div class="sj-dashboardboxtitle">
								<h2>Өгүүллийн Төлөв</h2>
								<span>Таны оруулсан мэдээллийн хувь</span>
							</div>
							<div id="sj-ourskill" class="sj-ourskill">
								<div class="sj-skill">
									<div class="sj-skillholder" data-percent="84%">
										<div class="sj-skillbar" style="width: 0%;"></div>
									</div>
									<span class="sj-strenghtcomplete">84% Complete</span>
								</div>
							</div>
						</div>
						<ul class="sj-profilecomplete">
							<li class="sj-profilecompleted"><i class="ti-check"></i><span>Өгүүлэл нэр </span></li>
							<li class="sj-profilecompleted"><i class="ti-check"></i><span>Зохиогчийн нэр</span></li>
							<li class="sj-profileerror"><i class="ti-na"></i><span>Зохиогчийн майл</span></li>
							<li class="sj-profilecompleted"><i class="ti-check"></i><span>Файл</span></li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</div>
</div>
{% endblock %}